[submodule "deps/caption-index"]
	path = deps/caption-index
	url = https://github.com/scanner-research/caption-index.git
[submodule "deps/vgrid"]
	path = deps/vgrid
	url = https://github.com/scanner-research/vgrid.git
[submodule "deps/rs-intervalset"]
	path = deps/rs-intervalset
	url = https://github.com/scanner-research/rs-intervalset.git
