{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" />
<script src="{{ url_for('static', filename='js/table.js') }}" /></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>
    List of people, identified by face
  </h1>

  <p>
    This page contains a list of people who have been identified in the cable TV news dataset.
    These identities were estimated using the   
Amazon Rekognition Celebrity detection API and our own identity models,
and their accuracy is subject to noise and biases in these models. <b>This list of recognized individuals is my no means a comprehensive listing of all individuals appearing the dataset.</b>
  </p>

  <p>
    Names in this list can be used in face name filters using the
    <code>{{ search_keys.face_name }}="..."</code> query predicate.
  </p>


  <table class="table table-hover table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total screen time (in minutes)</th>
	<th>Person-tags</th>
      </tr>
    </thead>
  </table>

  <script>
    const show_person_tags = {% if hide_person_tags %}false{% else %}true{% endif %};
    $(document).ready(function() {
      $('.table').DataTable({
        pageLength: 25, columns: [
          {width: '20%'},
          {width: '15%', className: 'text-right',
           render: x => formatNumber(x, 0)},
		{render: renderLongDataValue, visible: show_person_tags,
		 searchable: show_person_tags}
        ],
        order: [[1, 'desc']],
        language: {
          info: 'Showing _START_ to _END_ of _TOTAL_ people',
        },
        ajax: '/data/people.json'
      });
    });
  </script>
</div>
{% endblock %}
