{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" />
<script src="{{ url_for('static', filename='js/table.js') }}" /></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>
    The Tags
  </h1>
  <p>
    This page lists the face tags available in the dataset. Tags in this list can be used
    in queries using the
    <code>{{ search_keys.face_tag }}="..."</code> predicate.
  </p>

  {% if not hide_person_tags %}
  <h3>
    Tags present for all faces
  </h3>
  <p>
    The following tags are available for all faces, regardless of whether
    the identity of the person is known.
  </p>
  {% endif %}

  <table class="table table-hover table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Meaning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ global_tags.all }}</td>
        <td>Any face returned by the face detector.</td>
      </tr>
      <tr>
        <td>{{ global_tags.male }}</td>
        <td>A face identified as a male-presenting face by our gender classifier.</td>
      </tr>
      <tr>
        <td>{{ global_tags.female }}</td>
        <td>A face identified as a female-presenting face by our gender classifier.</td>
      </tr>
      <tr>
        <td>{{ global_tags.host }}</td>
        <td>A face identified as a host/reporter/news presenter, based off of our list of known individuals.</td>
      </tr>
      <tr>
        <td>{{ global_tags.non_host }}</td>
        <td>A face identified that is not identified as a host/reporter/news presenter.</td>
      </tr>
    </tbody>
  </table>

  {% if not hide_person_tags %}
  <h3>
    Tags present only for faces with a known identity
  </h3>
  <p>
    Additional tags exist for faces whose identity is known (47% of the faces in the dataset).
  </p>

  <p>
    In the table below, the tags marked with the source
    "dbpedia" are parsed directly from DBpedia properties associated with the individual's name.
    Tags marked as "derived" are derived from DBpedia properties by merging multiple
    specific tags into a single, more general tag.
    For example, a person with the
    tag "english_people_of_french_descent", will also be given the derived
    tags "english" and "people_of_french_descent". There may be multiple
    rows for a single tag in the table below if the tag is both an original
    property from DBpedia and a derived one. Querys filtering by this tag
    consider the union of the derived and dbpedia tags.
  </p>

  <table class="table table-hover table-striped table-bordered table-sm data-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Source</th>
        <th>Number of people with tag</th>
        <th>People with tag</th>
      </tr>
    </thead>
  </table>

  <script>
    $(document).ready(function() {
      $('.data-table').DataTable({
        pageLength: 25, columns: [
          {width: '20%'},
          {width: '10%', className: 'text-right'},
          {width: '15%', className: 'text-right'},
          {render: renderLongDataValue}
        ],
        order: [[2, 'desc']],
        language: {
          info: 'Showing _START_ to _END_ of _TOTAL_ tags',
        },
        ajax: '/data/tags.json'
      });
    });
  </script>
  {% endif %}

</div>
{% endblock %}
