{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" />
<script src="{{ url_for('static', filename='js/table.js') }}" /></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>
    The tags
  </h1>
  <p>
    This page lists the tags that are available. Tags in this list can be used
    to filter for screen time of the associated face identities using the
    <code>{{ search_keys.face_tag }}="..."</code> predicate.
  </p>

  <h3>
    Tags (all faces)
  </h3>
  <p>
    The following tags are available on all faces, regardless of whether
    we have an identity label.
  </p>

  <table class="table table-hover table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Meaning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>all</td>
        <td>Any face returned by the face detector.</td>
      </tr>
      <tr>
        <td>male</td>
        <td>A face identified as male by our gender classifier.</td>
      </tr>
      <tr>
        <td>female</td>
        <td>A face identified as female by our gender classifier.</td>
      </tr>
      <tr>
        <td>host</td>
        <td>A face identified as a host, based off of our list of known hosts.</td>
      </tr>
      <tr>
        <td>nonhost</td>
        <td>A face identified that is not identified as a host.</td>
      </tr>
    </tbody>
  </table>

  <h3>
    Tags (derived from identity)
  </h3>
  <p>
    The following tags are obtained from DBpedia using the names of faces that
    we identified using Amazon Rekognition's celebrity detection API.
    Filters on tags from this list will only apply to faces for which we have
    an associated identity (44% of the faces). For example, the filter
    <code>{{ search_keys.face_tag }}="journalist"</code>
    incudes the screen time of all faces whose identiies have the journalist
    tag.
  </p>

  <p>
    The source column of the table below shows how tags were obtained. Tags
    with "dbpedia" as the source are parsed from DBpedia properties. Tags
    with "derived" are derived from DBpedia properties based on a small
    number of heuristic parsing rules; for example, a person with the
    tag "english_people_of_french_descent", will be given the derived
    tags "english" and "people_of_french_descent". There may be multiple
    rows for a single tag in the table below if the tag is both an original
    property from DBpedia and a derived one. In this circumstance, searching in
    the tool considers the union of the derived and dbpedia tags.
  </p>

  <table class="table table-hover table-striped table-bordered table-sm data-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Source</th>
        <th>Number of people with tag</th>
        <th>People with tag</th>
      </tr>
    </thead>
  </table>

  <script>
    $(document).ready(function() {
      $('.data-table').DataTable({
        pageLength: 25, columns: [
          {width: '20%'},
          {width: '10%', className: 'text-right'},
          {width: '15%', className: 'text-right'},
          {render: renderLongDataValue}
        ],
        order: [[2, 'desc']],
        language: {
          info: 'Showing _START_ to _END_ of _TOTAL_ tags',
        },
        ajax: '/data/tags.json'
      });
    });
  </script>
</div>
{% endblock %}
