{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>

<style>
.longDataValue {
  display: none;
  padding-left: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>
    List of tags
  </h1>
  <p>
    Tags in this list can be used to filter for screen time of the associated
    face identities using the <code>onscreen.face1="tag: ..."</code> predicate.
  </p>

  <h3>
    Tags (all faces)
  </h3>
  <p>
    The following tags are available on all faces, regardless of whether
    we have an identity label.
  </p>

  <table class="table table-hover table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Meaning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>male</td>
        <td>A face identified as male by our gender classifier.</td>
      </tr>
      <tr>
        <td>female</td>
        <td>A face identified as female by our gender classifier.</td>
      </tr>
      <tr>
        <td>host</td>
        <td>A face identified as a host, based off of our list of known hosts.</td>
      </tr>
      <tr>
        <td>nonhost</td>
        <td>A face identified that is not identified as a host.</td>
      </tr>
    </tbody>
  </table>

  <h3>
    Tags (derived from identity)
  </h3>
  <p>
    The following tags are obtained from DBpedia using the names of faces that
    we identified using Amazon Rekognition's celebrity detection API.
    Filters on tags from this list will only apply to faces for which we have
    an associated identity (44% of the faces). For example, the filter
    <code>onscreen.face1="tag: journalist"</code> incudes the screen time of
    all faces whose identiies have the journalist tag.
  </p>

  <table class="table table-hover table-striped table-bordered table-sm data-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Count</th>
        <th>People with tag</th>
      </tr>
    </thead>
  </table>

  <script>
    function toggleDataVis(e) {
      $(e).parent().find('.longDataValue').toggle();
    }

    $(document).ready(function() {
      $('.data-table').DataTable({
        pageLength: 25, columns: [
          {width: '20%'}, {width: '10%'}, {
            render: function(x) {
              if (x.length > 250) {
                var html = $('<a href="javascript:void(0);" onclick="toggleDataVis(this);"/>').text('show/hide').prop('outerHTML');
                html += $('<span class="longDataValue" />').text(x).prop('outerHTML');
                return html;
              } else {
                return x;
              }
            }
          }
        ],
        ajax: '/data/tags.json'
      });
    });
  </script>
</div>
{% endblock %}
