.container {
  padding: 2px;
  text-align: center;
}
.container table {
  margin: auto;
  width: auto;
  border-spacing: 0px;
}
.container th, td {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.query-td {
  text-align: left;
}
.color-box {
  margin: auto;
  width: 10px;
  height: 10px;
}
code {
  color: black;
}
#warning {
  color: red;
  display: none;
}
