.chart-container {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.chart-info {
  text-align: center;
  padding: 2px;
}
.query-td {
  text-align: left;
}
.legend-item {
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
  display: inline-block;
}
.legend-color {
  margin-right: 2px;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.legend-text {
  margin-left: 2px;
  display: inline-block;
}
code {
  color: black;
}
.warning-span {
  color: red;
}
#editor {
  display: none;
}
#loadingText {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 18px;
}
