#infoSpan {
  font-size: 16px;
}
#infoSpan ul {
  margin: 0;
}
#infoSpanText {
  display: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}
#searchTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 4px;
}
#searchTable th {
  text-align: center;
}
#searchTable input[name=where] {
  text-align: left;
  font-size: 12px;
}
#searchTable .input-group, .input-group-prepend, .input-group-text, .form-control {
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 12px;
}
#searchTable .query-td {
  width: 100%;
}
#searchTable .option-td {
  padding-left: 10px;
}
#searchTable .color-box {
  margin: auto;
  width: 40px;
  min-height: 30px;
  cursor: pointer;
}
#searchTable .remove-row-btn {
  width: 35px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}
#searchTable .toggle-query-builder-btn {
  width: 35px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}
#searchTable .query-text {
  font-family: monospace;
}
#searchTable .add-row-btn {
  width: 35px;
  height: 30px;
  text-align: center;
  font-size: 14px;
}
#searchTable .chart-options {
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
}
#searchTable .chart-options input, select, .filter-option {
  text-align: center;
  font-size: 14px;
}
#searchTable .chart-options hr {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
#searchTable .chart-options .datepicker {
  width: 100px;
}

#search {
  font-size: 12px;
}

#embedArea textarea {
  width: 100%;
  margin: auto;
  display: none;
  word-break: break-all;
}

#vgridArea {
  border-style: solid;
  border-width: medium;
  padding: 10px;
  margin-bottom: 20px;
  display: none;
}
#vgridArea h5 {
  text-align: center;
}
#vgridArea hr {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

#chart {
  width: 100%;
  text-align: center;
}
#chart canvas {
  cursor: pointer;
}

#shade {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10000
}
#shade .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 72px;
  color: white;
}
#shade .dark {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}
#dataVersionWarning {
  display: none;
  background-color: #ffff80;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.query-builder {
  padding: 10px;
  border-left: solid #DAD7CB 1px;
  border-right: solid #DAD7CB 1px;
  border-bottom: solid #DAD7CB 1px;
}
.query-builder code {
  color: inherit;
}
.query-builder table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
}
.query-builder input {
  text-align: center;
  width: auto;
  display: inline;
}
.query-builder textarea {
  padding-top: 5px;
  padding-bottom: 5px;
}
.query-builder th {
  text-align: right;
}
.query-builder td[type=key-col] {
  text-align: right;
  vertical-align: middle;
}
.query-builder td[type=value-col] {
  text-align: left;
}
.query-builder td[type=info-header] {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  font-style: italic;
  color: gray;
}
.query-builder tr[disabled="true"] {
  display: none;
}
.query-builder .num-faces-input {
  width: 150px;
}
.chosen-container-multi {
  min-width: 200px;
}
.chosen-container .chosen-drop {
  min-width: 100%;
  width: auto;
}
.chosen-container .chosen-drop ul {
  white-space: nowrap;
}
.highlight {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.8);
}
