#infoSpan {
  font-size: 16px;
}
#infoSpan ul {
  margin: 0;
}
#infoSpanText {
  display: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

#embedArea textarea {
  width: 100%;
  margin: auto;
  display: none;
  word-break: break-all;
}
#embedArea .copy-a {
  cursor: copy;
}

#vgridArea {
  border-style: solid;
  border-width: medium;
  padding: 10px;
  margin-bottom: 20px;
  display: none;
}
#vgridArea h5 {
  text-align: center;
}
#vgridArea hr {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

#chart {
  width: 100%;
  text-align: center;
}
#chart canvas {
  cursor: pointer;
}

#shade {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10000
}
#shade .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 72px;
  color: white;
}
#shade .dark {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}

#warningArea {
  display: none;
}
#warningArea .warning {
  background-color: #ffff80;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.highlight {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.8);
}
