.cm-s-tvnews span.cm-keyword {
  color: purple;
  font-weight: bold;
}
.cm-s-tvnews span.cm-alias {
  font-weight: bold;
  margin-left: 1px;
  margin-right: 1px;
}
.cm-s-tvnews span.cm-key {
  color: brown;
  font-style: italic;
  margin-left: 1px;
  margin-right: 1px;
}
.cm-s-tvnews span.cm-number, span.cm-string, span.cm-name, span.cm-tag {
  color: grey;
  margin-left: 1px;
  margin-right: 1px;
}
.cm-s-tvnews span.cm-error {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
  margin-left: 1px;
  margin-right: 1px;
}
