body {
  overflow: hidden;
}
#textInfo {
  text-align: center;
  margin-bottom: 0;
}
#textInfo .query-title {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
  border-style: solid;
  width: fit-content;
  display: inline-block;
}
#textInfo code {
  font-size: 18px;
}
#pageButtons {
  position: absolute;
  bottom: 0;
  right: 0;
}
.archive-logo img {
  height: 1.25rem;
  vertical-align: top;
}
.timeline-controls .btn {
  padding: 0px;
}
.timeline-controls span {
  font-size: 8px;
}
