{% extends "layout.html" %}

{% block meta %}
  {{ super() }}
  <meta property="og:title" content="Stanford Cable TV News Analyzer - Gender Example" />
  <meta property="og:url" content="https://{{ host }}/misc/gender" />
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instructions.css') }}" />

<script src="/generated/js/values.js" /></script>

<script src="{{ url_for('static', filename='js/common.js') }}" /></script>
<script src="{{ url_for('static', filename='js/instructions.js') }}" /></script>

<style>
.question {
  font-weight: bold;
  font-style: italic;
  font-size: 1.25rem;
  padding-bottom: 0.25em;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Case Study: Understanding Gender Representation</h1>

  <p>
    <div class="question">What is the ratio of screen time provided to men vs. women on cable TV news?</div>
    <div class="question">Does the ratio change when considering only individuals that are hosts of shows? (or only non-hosts?)</div>
    <div class="question">Does the ratio change considerably over time?</div>
    <div class="question">Does the ratio differ across channels?</div>
  </p>

  <p>
  This page documents the process of using the Stanford Cable TV News Analyzer to answer questions about gender representation on cable TV news.  As we go, we take time to highlight key features (and key pitfalls) encountered while writing queries and interpreting the results produced by the Stanford Cable TV News Analyzer.
  </p>

  <hr>

  <h3>Step 1: A simple plot of screen time</h3>

  <p>
    To get started, I created the following graph which compares the screen time of alloted to men and women over the entire non-commercial part of the dataset (considering programming across all channels).  The blue line plots the <b>total screen time</b> (in minutes per month) where a man's face is on screen. The orange line plots the total time a women's face is on screen.
  </p>

  <div class="graph-embed-div">
    <iframe class="graph-embed-2line" id="gender"></iframe>
  </div>

  <p>In interpreting these results, it is important to consider two details about how the Stanford Cable TV Analyzer works:</p>

  <ul>
    <li>The result of a query is the <b>total screen time</b> of all video segments that pass the query's filters.  Therefore, the graph above plots screen time.  It does not plot a count of unique people appearing on the news. For example, if a video contains two men and one women on screen for one minute, then the Analyzer will compute that the video contributes one minute of screen time to both the men's and women's counts in the graph above.</li>

    <li>The graph above considers <b>all detected faces in the dataset</b> that pass the specified gender filter.  These faces are not necessarily talking heads on the news.  The faces may be show hosts, guests, faces in the crowd in B-roll footage, or even faces that appear in information graphics.  As we demonstrate later in this article, additional query filters must be added to limit the faces counted (e.g., to only faces of show hosts).</li>
  </ul>

  <p> An interesting feature of the graph above is that screen time counts increase over time, suggesting that faces appear in an increasing fraction of cable TV news video in recent years.   We also note that our dataset contains gaps in video recording in mid-2010, which is apparent in the lower screen time counts during this period.
  </p>

  <h3>Step 2: Converting to fractions of screen time</h3>

  <p>
    Since it can be helpful to think about quantities as fractions (as opposed to a total number of minutes), I use the normalization functionality of queries to plot the screen time of men and women as a <b>fraction of the total amount of video footage when there is any face on screen</b>. Looking at the graph below, you can see that when there is a person on screen, about 80% of the time there is at least one man on screen.  The fraction of time where a woman is on screen has increased steadily over the past decade to just over 40% in recent years.
  </p>

  <p>
    Notice that the fractions don't add up to 1 since the graph plots fractions of screen time, and not the fraction of total number of people on screen. Both a man and a woman can be on screen at the same time --- these moments in time contribute to both counts. (e.g., If a man was always paired with a woman on screen, then both lines would be 1.)
  </p>

<div class="graph-embed-div">
  <iframe class="graph-embed-2line" id="genderNorm"></iframe>
</div>

<h3>Step 3: Male to female ratios</h3>

  <p>
    Finally, I wanted to see the actual ratio of men to women screen time, which I'm plotting below.  (Note the new normalization in the query.)
    In 2010 it was about 2.5 times more likely that there was a man on screen than a woman
    By 2019, this ratio has dropped under 2. (A ratio of 1 would indicate gender parity.)
  </p>

  <div class="graph-embed-div">
    <iframe class="graph-embed-1line" id="genderRatio"></iframe>
  </div>

<h3>Step 4: Does this ratio differ by channel?</h3>

 <p>
  Breaking down the data by channel shows that this general trend holds for all three cable TV news channels. Of the three, CNN has typically featured the lowest ratio of male to female screen time.
 </p>

 <div class="graph-embed-div">
   <iframe class="graph-embed-3line" id="genderRatioChannel"></iframe>
 </div>

<h3>Step 5: Does the story change if we limit our analysis to hosts?</h3>

<p>
  So far, my screen time analysis has counted all faces in the dataset. It is also interesting to consider how the gender ratios for <b>show hosts</b> have evolved over time.  The following plot is the ratio of screen time of male hosts vs. that of female hosts.  Interestingly, when considering only host screen time, the steady movement toward parity reverses in 2015.
</p>

<div class="graph-embed-div">
  <iframe class="graph-embed-2line" id="genderHostNorm"></iframe>
</div>

<p>
  A breakdown by channel shows that the shift away from parity for show hosts has been most severe on CNN.
</p>

<div class="graph-embed-div">
  <iframe class="graph-embed-6line" id="genderHostChannelNorm"></iframe>
</div>

<script>
  setIframeSource('#gender', ['tag="{{ global_tags.male }}"', 'tag="{{ global_tags.female }}"'], false);
  setIframeSource(
    '#genderNorm',
    ['tag="{{ global_tags.male }}" normalize tag="{{ global_tags.all }}"', 'tag="{{ global_tags.female }}" normalize tag="{{ global_tags.all }}"'],
    false);
  setIframeSource(
    '#genderRatio', ['tag="{{ global_tags.male }}" normalize tag="{{ global_tags.female }}"'], false);
  setIframeSource(
    '#genderRatioChannel', [
      'tag="{{ global_tags.male }}" and channel="msnbc" normalize channel="msnbc" and tag="{{ global_tags.female }}"',
      'tag="{{ global_tags.male }}" and channel="fox" normalize channel="fox" and tag="{{ global_tags.female }}"',
      'tag="{{ global_tags.male }}" and channel="cnn" normalize channel="cnn" and tag="{{ global_tags.female }}"'
    ], false);
  setIframeSource(
    '#genderHostNorm', [
      'tag="{{ global_tags.male }},{{ global_tags.host }}" normalize tag="{{ global_tags.host }}"',
      'tag="{{ global_tags.female }},{{ global_tags.host }}" normalize tag="{{ global_tags.host }}"'
    ], false);
  setIframeSource(
    '#genderHostChannelNorm', [
      'tag="{{ global_tags.male }},{{ global_tags.host }}" and channel="msnbc" normalize tag="{{ global_tags.host }}" and channel="msnbc"',
      'tag="{{ global_tags.female }},{{ global_tags.host }}" and channel="msnbc" normalize tag="{{ global_tags.host }}" and channel="msnbc"',
      'tag="{{ global_tags.male }},{{ global_tags.host }}" and channel="fox" normalize tag="{{ global_tags.host }}" and channel="fox"',
      'tag="{{ global_tags.female }},{{ global_tags.host }}" and channel="fox" normalize tag="{{ global_tags.host }}" and channel="fox"',
      'tag="{{ global_tags.male }},{{ global_tags.host }}" and channel="cnn" normalize tag="{{ global_tags.host }}" and channel="cnn"',
      'tag="{{ global_tags.female }},{{ global_tags.host }}" and channel="cnn" normalize tag="{{ global_tags.host }}" and channel="cnn"'
    ], false);
</script>

</div>
{% endblock %}
