body {
  font-family: 'Roboto';
}
code {
  color: black;
}
.container {
  padding: 10px;
}
.top-header {
  width: 100%;
}
.top-header a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.bottom-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: auto;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  background-color: white;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.nowrap {
  white-space: nowrap;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}
.form-control:focus, .form-control:active {
  border: 1px solid #ced4da !important;
  outline: none !important;
  box-shadow: none;
}
