{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1>About Us</h1>
  <p>
    This project is the result of collaboration between students and faculty
    of the Stanford Graphics lab and fellows of the
    John S. Knight Journalism Fellowship at Stanford University.
  </p>
  <p>
    This project is supported by grants from
    the <a target="_blank" href="https://brown.columbia.edu/">Brown Institute of Media Innovation</a>,
    <a target="_blank" href="https://www.intel.com/">Intel Corporaton</a>,
    <a target="_blank" href="https://cloud.google.com/">Google Cloud</a>, and
    <a target="_blank" href="https://aws.amazon.com/">Amazon Web Services</a>.
  </p>
</div>
{% endblock %}
