{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" integrity="sha256-vZ3SaLOjnKO/gGvcUWegySoDU6ff33CS5i9ot8J9Czk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/elegant.css" integrity="sha256-At+BZ4vozwp4DkMDlbD2Trd4/qwiFqOx7KtShIq8j+Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.js" integrity="sha256-dPTL2a+npIonoK5i0Tyes0txCMUWZBf8cfKRfACRotc=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/syntax-highlight.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/instructions.css') }}" />
  <script src="/generated/js/defaults.js" /></script>
  <script src="/generated/js/values.js" /></script>
  <script src="{{ url_for('static', filename='js/syntax-highlight.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/instructions.js') }}" /></script>
{% endblock %}


{% block content %}
<div class="container">
  <h1>Advanced Query Documentation</h1>
  <p>
    This page documents the full query language supported by the the Stanford Cable TV News Analyzer.
    Prior to reading this documentation, we recommend that users first read the <a href="/getting-started">getting started</a> guide.
  </p>

  <hr>

  <h3>How do I write queries?</h3>
  <p>All queries compute the screen time of video segments in the dataset that match the query predicate. Screen time queries are broken in to several parts. A basic
    query consists of filters separated by "AND"s.
    <div class="code-block" id="andSyntax"></div>
    For example, the following query computes the screen time of Hillary Clinton on CNN:
    <div class="code-block" id="andExample"></div>
    Likewise, "OR" is also supported.
    <div class="code-block" id="orSyntax"></div>
    The following query counts the total video time on CNN or MSNBC.
    <div class="code-block" id="orExample"></div>

    Queries can combine "AND" and "OR" using parentheses in order to construct more
    complex queries. If no parentheses are specified, AND precedes OR.
    <div class="code-block" id="parenSyntax"></div>
    Putting the examples above together, the following query computes the screen
    time that Hillary Clinton on CNN or MSNBC:
    <div class="code-block" id="parenExample"></div>
  </p>

  <hr>

  <h3>What types of filters does the tool support?</h3>
  <table class="table table-striped table-bordered table-sm">
    <tbody>
      <tr>
        <th colspan="3">Supported filter options and their usage</th>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.channel }}</td>
        <td>description</td>
        <td>name of the channel</td>
      </tr>
      <tr>
        <td>values</td>
        <td>CNN, FOX, MSNBC</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ search_keys.channel }}="CNN"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.show }}</td>
        <td>description</td>
        <td>name of the show</td>
      </tr>
      <tr>
        <td>values</td>
        <td><a href="/data/shows" target="_blank">list of shows</a></td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ search_keys.show }}="CNN Newsroom"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.hour }}</td>
        <td>description</td>
        <td>ranges (inclusive) of hours in 24h format, in US eastern time. (UTC-5:00 in standard time and UTC-4:00 during daylight saving time).
</td>
      </tr>
      <tr>
        <td>values</td>
        <td>0-23</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>0-23</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ search_keys.hour }}="10"<br>
            {{ search_keys.hour }}="9-17"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.day_of_week }}</td>
        <td>description</td>
        <td>range (inclusive) or a day in the week</td>
      </tr>
      <tr>
        <td>values</td>
        <td>mon, tue, wed, thu, fri, sat, sun</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>mon-sun</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ search_keys.day_of_week }}="mon"<br>
            {{ search_keys.day_of_week }}="sat-sun"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.text }}</td>
        <td>description</td>
        <td>keywords nearby in the captions</td>
      </tr>
      <tr>
        <td>values</td>
        <td>keywords or phrases. Use <code>|</code> for "or".
            See <a href='/data/transcripts'>here for more details.
        </td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>{{ search_keys.text }}="affordable care act"</code><br>
          <code>{{ search_keys.text }}="affordable care act | obamacare"</code><br>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.text_window }}</td>
        <td>description</td>
        <td>threshold (in seconds) for windows around keywords</td>
      </tr>
      <tr>
        <td>values</td>
        <td>keyword or phrase</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>{{ default_text_window }}</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ search_keys.text_window }}={{ default_text_window }}</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">
          {{ search_keys.face_name }}<br>
        </td>
        <td>description</td>
        <td>
          constrain results to when the person specified is on screen.
        </td>
      </tr>
      <tr>
        <td>values</td>
        <td>
          <i>name</i> <a href="/data/people" target="_blank">(list of people)</a>
        </td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ search_keys.face_name }}="Barack Obama"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">
          {{ search_keys.face_tag }}<br>
        </td>
        <td>description</td>
        <td>
          constrain results to when a face with the tag(s) is on screen.
          Multiple tags can be specified with commas.
        </td>
      </tr>
      <tr>
        <td>values</td>
        <td>
          (fe)male, (non)host,
          <i>tag on person</i> <a href="/data/tags" target="_blank">(list of tags)</a>
        </td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ search_keys.face_tag }}="male" <br>
            {{ search_keys.face_tag }}="male,host" <br>
            {{ search_keys.face_tag }}="male AND host" <br>
            {{ search_keys.face_tag }}="journalist"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.face_count }}</td>
        <td>description</td>
        <td>number of faces on screeen.</td>
      </tr>
      <tr>
        <td>values</td>
        <td>1 or more</td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ search_keys.face_count }}=2</code></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h3>Can I present queries as normalized quantities?</h3>
  <p>
    Instead of computing screen time estimates in absolute time units (e.g., in minutes or hours), it can be useful to present query results as a proportion of the screen time of another query.  The query language supports normalization of one screen time count by another using NORMALIZE:

    <div class="code-block" id="normSyntax"></div>

    For example, the following query computes the fraction of the overall dataset that is from CNN:

    <div class="code-block" id="normExampleCode"></div>

  The following query computes the fraction of time on CNN that a man's face is on screen:

    <iframe width="100%" height="400" id="normExample"></iframe>
  </p>

  <hr>
  <h3>Can I add and subtract queries?</h3>
  <p>
    Addition is not supported. Subtraction can be expressed as:

    <div class="code-block" id="subSyntax"></div>

    For example, the follow query plots how much more screen time Hillary Clinton received than Bernie Sanders:
    <div class="code-block" id="subExampleCode"></div>
    <iframe width="100%" height="400" id="subExample"></iframe>
  </p>

  <script type="text/javascript">
    initialize();

    setCodeArea('#andSyntax', ['filter1="..." AND filter2="..." AND ... ']);
    setCodeArea('#andExample', ['{{ search_keys.face_name }}="Hillary Clinton" AND {{ search_keys.channel }}=CNN']);
    setCodeArea('#allDataExample', ['']);
    setCodeArea('#orSyntax', ['filter1="..." OR filter2="..." OR ... ']);
    setCodeArea('#orExample', ['{{ search_keys.channel }}="CNN" OR {{ search_keys.channel }}=MSNBC']);
    setCodeArea('#parenSyntax', ['(filter1="..." AND filter2="...") OR filter3="..."']);
    setCodeArea('#parenExample', ['{{ search_keys.face_name }}="Hillary Clinton" AND ({{ search_keys.channel }}=CNN OR {{ search_keys.channel }}=MSNBC)']);

    setCodeArea('#normSyntax', ['query1 NORMALIZE query2']);
    let norm_cnn_queries = [
      '{{ search_keys.face_tag }}=male AND {{ search_keys.channel }}=CNN NORMALIZE {{ search_keys.channel }}=CNN'
    ];
    setIframeSource('#normExample', norm_cnn_queries);
    setCodeArea('#normExampleCode', norm_cnn_queries);

    setCodeArea('#subSyntax', ['query1 SUBTRACT query2']);
    let subtract_queries = [
      '{{ search_keys.face_name }}=hillary clinton SUBTRACT {{ search_keys.face_name }}=bernie sanders'
    ];
    setIframeSource('#subExample', subtract_queries);
    setCodeArea('#subExampleCode', subtract_queries);
  </script>
</div>
{% endblock %}
