{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/instructions.css') }}" />
{% endblock %}


{% block content %}
<div class="container">
  <h1>Detailed Documentation</h1>
  <p>
    This page documents the features of the tool and the full query language.
    Please read the <a href="/getting-started">getting started</a> guide first
    if you have not done so already.
  </p>
  <hr>
</div>

<div class="container">
  <h3>How do I write queries?</h3>
  <p>
    Screen time queries are broken in to several parts. A query has the form
    <div class="code-block">
      <code>
        <b>COUNT</b> "screen time" <b>WHERE</b>
          filter1="value1" <b>AND</b> filter2="value2" <b>AND</b> ...
      </code>
    </div>

    consisting of the data being counted ("screen time") and filters, separated
    by "AND". In the earlier example, we saw two filters "{{ parameters.onscreen_face }}1" and
    "channel", and their respective values "person: hillary clinton" and "CNN".
    The table below shows the filter options that the application currently supports.
  </p>

  <table class="table table-striped table-bordered table-sm">
    <tbody>
      <tr>
        <th colspan="3">Supported filter options and their usage</th>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.channel }}</td>
        <td>description</td>
        <td>name of the channel</td>
      </tr>
      <tr>
        <td>values</td>
        <td>CNN, FOX, MSNBC</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.channel }}="CNN"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.show }}</td>
        <td>description</td>
        <td>name of the show</td>
      </tr>
      <tr>
        <td>values</td>
        <td><a href="/data/shows" target="_blank">list of shows</a></td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.show }}="CNN Newsroom"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.hour }}</td>
        <td>description</td>
        <td>ranges (inclusive) of hours in 24h format in Eastern Time</td>
      </tr>
      <tr>
        <td>values</td>
        <td>0-23 or 0, 1, 2, ...</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>0-23</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.hour }}="9-17"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.day_of_week }}</td>
        <td>description</td>
        <td>range (inclusive) or list of days of the week</td>
      </tr>
      <tr>
        <td>values</td>
        <td>mon-sun or mon, tue, ...</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.day_of_week }}="sat-sun"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.is_commercial }}</td>
        <td>description</td>
        <td>filter or select commercials</td>
      </tr>
      <tr>
        <td>values</td>
        <td>true, false, both</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>{{ default_is_commercial }}</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.is_commercial }}={{ default_is_commercial }}</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.caption_text }}</td>
        <td>description</td>
        <td>keywords nearby in the captions</td>
      </tr>
      <tr>
        <td>values</td>
        <td>keywords or phrases. Use <code>|</code> for "or".
            See <a href='/data/transcripts'>here for more details.
        </td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>{{ parameters.caption_text }}="affordable care act"</code><br>
          <code>{{ parameters.caption_text }}="affordable care act | obamacare"</code><br>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.caption_window }}</td>
        <td>description</td>
        <td>threshold (in seconds) for windows around keywords</td>
      </tr>
      <tr>
        <td>values</td>
        <td>keyword or phrase</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>{{ default_text_window }}</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.caption_window }}={{ default_text_window }}</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">
          {{ parameters.onscreen_face }}<br>
        </td>
        <td>description</td>
        <td>
          constrain results to at least one matching face on screen.
          Can be specified multiple times for different contraints.
          Options separated by commas.
        </td>
      </tr>
      <tr>
        <td>values</td>
        <td>
          all,<br>
          person: <i>name</i> <a href="/data/people" target="_blank">(list of people)</a>,<br>
          tag: (fe)male, (non)host, <i>tag of person</i> <a href="/data/tags" target="_blank">(list of tags)</a>
        </td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ parameters.onscreen_face }}="all" <br>
            {{ parameters.onscreen_face }}="person:Barack Obama" <br>
            {{ parameters.onscreen_face }}="tag:male" <br>
            {{ parameters.onscreen_face }}="tag:male & host" <br>
            {{ parameters.onscreen_face }}="tag:journalist"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.onscreen_numfaces }}</td>
        <td>description</td>
        <td>Number of faces on screeen.</td>
      </tr>
      <tr>
        <td>values</td>
        <td>1 or more</td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.onscreen_numfaces }}=2</code></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h3>How to I normalize my queries?</h3>
  <p>
    So far, all of the queries have returned raw counts. In order to express
    queries such as the proportion of screen time where there is a man or woman
    on screen, we need to introduce a NORMALIZE operator.
    This used in the following way:

    <div class="code-block">
      <code>query1 <b>NORMALIZE</b> query2</code>
    </div>

    Succintly put, NORMALIZE allows you to normalize one query by another query.
    For instance, to express the proportion of the data set that is CNN, we can
    write:

    <div class="code-block">
      <code>
        <b>COUNT</b> "screen time" <b>WHERE</b> channel="CNN" <b>NORMALIZE</b> (<b>COUNT</b> "screen time")
      </code>
    </div>

    This is verbose. As a shorthand, we can write:

    <div class="code-block">
      <code><b>COUNT</b> "screen time" <b>WHERE</b> channel="CNN" <b>NORMALIZE</b></code>
    </div>

    Likewise, to express the proportion of time when a man is on screen on CNN,
    we can write:

    <iframe width="100%" height="370" src="//{{ host }}/embed?width=600&height=270&data=%7B%22options%22%3A%7B%22start_date%22%3A%222010-01-01%22%2C%22end_date%22%3A%222018-04-01%22%2C%22count%22%3A%22screen%20time%22%2C%22aggregate%22%3A%22month%22%7D%2C%22queries%22%3A%5B%7B%22color%22%3A%22%234E79A7%22%2C%22text%22%3A%22COUNT%20%5C%22screen%20time%5C%22%20WHERE%20{{ parameters.onscreen_face }}%3D%5C%22tag%3A%20male%5C%22%20AND%20channel%3D%5C%22CNN%5C%22%20NORMALIZE%20channel%3D%5C%22CNN%5C%22%22%7D%5D%7D"></iframe>

  </p>

  <hr>
  <h3>Can I add and subtract queries?</h3>
  <p>
    Addition is not supported. Subtraction can be expressed as:

    <div class="code-block">
      <code>query1 <b>SUBTRACT</b> query2</code>
    </div>

    For example, the net screen time of two individuals can be computed as follows:
    <iframe width="100%" height="370" src="//{{ host }}/embed?width=600&height=270&data=%7B%22options%22%3A%7B%22start_date%22%3A%222010-01-01%22%2C%22end_date%22%3A%222018-04-01%22%2C%22count%22%3A%22screen%20time%22%2C%22aggregate%22%3A%22month%22%7D%2C%22queries%22%3A%5B%7B%22color%22%3A%22%234E79A7%22%2C%22text%22%3A%22COUNT%20%5C%22screen%20time%5C%22%20WHERE%20{{ parameters.onscreen_face }}%3D%5C%22person%3A%20donald%20trump%5C%22%20SUBTRACT%20{{ parameters.onscreen_face }}%3D%5C%22person%3A%20hillary%20clinton%5C%22%22%7D%5D%7D"></iframe>
  </p>
</div>
{% endblock %}
