{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/instructions.css') }}" />
{% endblock %}


{% block content %}
<div class="container">
  <h1>Detailed Documentation</h1>
  <p>
    This page documents the features of the tool and the full query language.
    Please read the <a href="/getting-started">getting started</a> guide first
    if you have not done so already.
  </p>
  <hr>
</div>

<div class="container">
  <h3>How do I write queries?</h3>
  <p>
    Screen time queries are broken in to several parts. A query has the form
    <span class="centered">
      <code>
        <b>COUNT</b> "screen time" <b>WHERE</b>
          filter1="value1" <b>AND</b> filter2="value2" <b>AND</b> ...
      </code>
    </span>
    consisting of the data being counted ("screen time") and filters, separated
    by "AND". In the earlier example, we saw two filters "onscreen.face1" and
    "channel", and their respective values "person: hillary clinton" and "CNN".
    The table below shows the filter options that the application currently supports.
  </p>

  <table class="table table-striped table-bordered table-sm">
    <tbody>
      <tr>
        <th colspan="3">Supported filter options and their usage</th>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.channel }}</td>
        <td>description</td>
        <td>name of the channel</td>
      </tr>
      <tr>
        <td>values</td>
        <td>CNN, FOX, MSNBC</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.channel }}="CNN"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.show }}</td>
        <td>description</td>
        <td>name of the show</td>
      </tr>
      <tr>
        <td>values</td>
        <td><a href="/data/shows" target="_blank">list of shows</a></td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.show }}="CNN Newsroom"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.hour }}</td>
        <td>description</td>
        <td>ranges (inclusive) of hours in 24h format in Eastern Time</td>
      </tr>
      <tr>
        <td>values</td>
        <td>0-23 or 0, 1, 2, ...</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>0-23</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.hour }}="9-17"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.day_of_week }}</td>
        <td>description</td>
        <td>range (inclusive) or list of days of the week</td>
      </tr>
      <tr>
        <td>values</td>
        <td>mon-sun or mon, tue, ...</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.day_of_week }}="sat-sun"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.is_commercial }}</td>
        <td>description</td>
        <td>filter or select commercials</td>
      </tr>
      <tr>
        <td>values</td>
        <td>true, false, both</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>{{ default_is_commercial }}</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.is_commercial }}={{ default_is_commercial }}</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.caption_text }}</td>
        <td>description</td>
        <td>keywords nearby in the captions</td>
      </tr>
      <tr>
        <td>values</td>
        <td>keywords or phrases. Use <code>|</code> for "or" and <code>&</code> for "and".</td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>{{ parameters.caption_text }}="affordable care act"</code><br>
          <code>{{ parameters.caption_text }}="affordable care act | obamacare"</code><br>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.caption_window }}</td>
        <td>description</td>
        <td>threshold (in seconds) for windows around keywords</td>
      </tr>
      <tr>
        <td>values</td>
        <td>keyword or phrase</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>{{ default_text_window }}</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.caption_window }}={{ default_text_window }}</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">
          {{ parameters.onscreen_face }}1 <br>
          {{ parameters.onscreen_face }}2 <br>
          {{ parameters.onscreen_face }}<b>n</b>
        </td>
        <td>description</td>
        <td>
          at least one matching face on screen.
          Options separated by commas.
        </td>
      </tr>
      <tr>
        <td>values</td>
        <td>
          all,<br>
          gender: (fe)male,<br>
          role: (non)host,<br>
          person: <i>name</i> <a href="/data/people" target="_blank">(list of people)</a>,<br>
          tag: <i>tag of person</i> <a href="/data/person-tags" target="_blank">(list of tags)</a>
        </td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ parameters.onscreen_face }}1="all" <br>
            {{ parameters.onscreen_face }}2="gender:male" <br>
            {{ parameters.onscreen_face }}3="gender:male,role:host" <br>
            {{ parameters.onscreen_face }}4="person:Barack Obama" <br>
            {{ parameters.onscreen_face }}5="tag:journalist"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ parameters.onscreen_numfaces }}</td>
        <td>description</td>
        <td>Number of faces on screeen.</td>
      </tr>
      <tr>
        <td>values</td>
        <td>1 or more</td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ parameters.onscreen_numfaces }}=2</code></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h3>How to I normalize my queries?</h3>
  <p>
    So far, all of the queries have returned raw counts. In order to express
    queries such as the proportion of screen time where there is a man or woman
    on screen, we need to introduce a NORMALIZE operator.
    This used in the following way:

    <span class="centered">
      <code>query1 <b>NORMALIZE</b> query2</code>
    </span>

    Succintly put, NORMALIZE allows you to normalize one query by another query.
    For instance, to express the proportion of the data set that is CNN, we can
    write:

    <span class="centered">
      <code>
        <b>COUNT</b> "screen time" <b>WHERE</b> channel="CNN" <b>NORMALIZE</b> (<b>COUNT</b> "screen time")
      </code>
    </span>

    This is verbose. As a shorthand, we can write:

    <span class="centered">
      <code><b>COUNT</b> "screen time" <b>WHERE</b> channel="CNN" <b>NORMALIZE</b></code>
    </span>

    Likewise, to express the proportion of time when a man is on screen on CNN,
    we can write:

    <iframe width="100%" height="370" src="//{{ host }}/embed?width=600&height=270&data=%7B%22options%22%3A%7B%22start_date%22%3A%222010-01-01%22%2C%22end_date%22%3A%222018-04-01%22%2C%22count%22%3A%22screen%20time%22%2C%22aggregate%22%3A%22month%22%7D%2C%22queries%22%3A%5B%7B%22color%22%3A%22%234E79A7%22%2C%22text%22%3A%22COUNT%20%5C%22screen%20time%5C%22%20WHERE%20onscreen.face1%3D%5C%22gender%3A%20male%5C%22%20AND%20channel%3D%5C%22CNN%5C%22%20NORMALIZE%20channel%3D%5C%22CNN%5C%22%22%7D%5D%7D"></iframe>

  </p>

  <hr>
  <h3>Can I add and subtract queries?</h3>
  <p>
    Addition is not supported. Subtraction can be expressed as:

    <span class="centered">
      <code>query1 <b>SUBTRACT</b> query2</code>
    </span>

    For example, the net screen time of two individuals can be computed as follows:
    <iframe width="100%" height="370" src="//{{ host }}/embed?width=600&height=270&data=%7B%22options%22%3A%7B%22start_date%22%3A%222010-01-01%22%2C%22end_date%22%3A%222018-04-01%22%2C%22count%22%3A%22screen%20time%22%2C%22aggregate%22%3A%22month%22%7D%2C%22queries%22%3A%5B%7B%22color%22%3A%22%234E79A7%22%2C%22text%22%3A%22COUNT%20%5C%22screen%20time%5C%22%20WHERE%20onscreen.face1%3D%5C%22person%3A%20donald%20trump%5C%22%20SUBTRACT%20onscreen.face1%3D%5C%22person%3A%20hillary%20clinton%5C%22%22%7D%5D%7D"></iframe>
  </p>
</div>

<div class="container" style="display: none;">
  <hr>

  <h3>Advanced usage: other counting modes</h3>

  <p>
    You can also count "{{ countables.facetime.value }}" and "{{ countables.mentions.value }}". For instance,

    <span class="centered">
      <code>
      <b>COUNT</b> "{{ countables.facetime.value }}" <b>OF</b> faces being counted <b>WHERE</b> filters on screen time
      <br>
      <b>COUNT</b> "{{ countables.mentions.value }}" <b>OF</b> text being counted <b>WHERE</b> filters on screen time
      </code>
    </span>
  </p>

  <h6>Supported counting options</h6>
  <table class="table table-striped table-bordered table-sm">
    <tbody>
      <tr>
        <th>Count</th>
        <th>Description</th>
        <th>Values</th>
        <th>Default</th>
        <th>Example</th>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td>{{ countables.facetime.value }}</td>
        <td>
          screen time for faces<br>
          Options separated by commas.
        </td>
        <td>
          all,<br>
          gender: (fe)male,<br>
          role: (non)host,<br>
          person: <i>name</i> <a href="/data/people" target="_blank">(list of people)</a>
        </td>
        <td>all</td>
        <td>
          <code>
            "all"<br>
            "gender:male" <br>
            "gender:male,role:host" <br>
            "person:Barack Obama"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td>{{ countables.mentions.value }}</td>
        <td>phrase mentions in the captions</td>
        <td>
          Use | for OR and & for AND.
          <a href="github.com/scanner-research/caption-index/blob/master/captions/query.py" target="_blank">Full grammar.</a>
        </td>
        <td>n/a</td>
        <td><code>"affordable care act"</code></td>
      </tr>
    </tbody>
  </table>

  <br>

  <h6>Example queries</h6>
  <table class="table table-striped table-bordered table-sm">
    <tbody>
      <tr>
        <th>Count</th>
        <th>Example</th>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="3">{{ countables.facetime.value }}</td>
        <td>
          <code><b>COUNT</b> "{{ countables.facetime.value }}" <b>OF</b> all</code>
          <br>
          <i>total face time</i>
        </td>
      </tr>
      <tr>
        <td>
          <code><b>COUNT</b> "{{ countables.facetime.value }}" <b>OF</b> gender:female,role:host <b>WHERE</b> {{ parameters.channel }}="FOX"</code>
          <br>
          <i>face time of female hosts on FOX News</i>
        </td>
      </tr>
      <tr>
        <td>
          <code><b>COUNT</b> "{{ countables.facetime.value }}" <b>OF</b> person:Barack Obama <b>WHERE</b> {{ parameters.channel }}="FOX"</code>
          <br>
          <i>face time of Barack Obama on FOX News</i>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="3">{{ countables.mentions.value }}</td>
        <td>
          <code><b>COUNT</b> "{{ countables.mentions.value }}" <b>OF</b> all</code>
          <br>
          <i>total number of words</i>
        </td>
      </tr>
      <tr>
        <td>
          <code><b>COUNT</b> "{{ countables.mentions.value }}" <b>OF</b> obamacare <b>WHERE</b> {{ parameters.channel }}=CNN</code>
          <br>
          <i>mentions of "obamacare" on CNN</i>
        </td>
      </tr>
      <tr>
        <td>
          <code><b>COUNT</b> "{{ countables.mentions.value }}" <b>OF</b> obamacare <b>WHERE</b> {{ parameters.onscreen_face }}1="person:Barack Obama"</code>
          <br>
          <i>mentions of "obamacare" when Barack Obama's face is on screen</i>
        </td>
      </tr>
    <tbody>
  </table>
</div>
{% endblock %}
