{% extends "layout.html" %}

{% block meta %}
  {{ super() }}
  <meta property="og:title" content="Stanford Cable TV News Analyzer - Documentation" />
  <meta property="og:url" content="https://{{ host }}/docs" />
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" integrity="sha256-vZ3SaLOjnKO/gGvcUWegySoDU6ff33CS5i9ot8J9Czk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/elegant.css" integrity="sha256-At+BZ4vozwp4DkMDlbD2Trd4/qwiFqOx7KtShIq8j+Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.js" integrity="sha256-dPTL2a+npIonoK5i0Tyes0txCMUWZBf8cfKRfACRotc=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/syntax-highlight.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/instructions.css') }}" />
  <script src="/generated/js/values.js" /></script>
  <script src="{{ url_for('static', filename='js/common.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/syntax-highlight.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/instructions.js') }}" /></script>
{% endblock %}


{% block content %}
<div class="container">
  <h1>Advanced Query Documentation</h1>
  <p>
    This page documents the full query language supported by the the Stanford Cable TV News Analyzer.
    Prior to reading this documentation, we recommend that that you read the <a href="/getting-started">getting started</a> tutorial.
  </p>

  <hr>

  <h2>Basic Query Syntax</h2>
  <p>
    All queries compute the total time of video segments in the dataset that match the query's filters. Screen time queries are broken in to several parts. A basic query consists of filters separated by "AND"s.
    <div class="code-block" id="andSyntax"></div>
    For example, the following query computes the screen time of Hillary Clinton on CNN:
    <div class="code-block" id="andExample"></div>
    Likewise, "OR" is also supported.
    <div class="code-block" id="orSyntax"></div>
    The following query counts the total video time on CNN or MSNBC.
    <div class="code-block" id="orExample"></div>

    Queries can combine "AND" and "OR" using parentheses in order to construct more
    complex queries. If no parentheses are specified, AND precedes OR.
    <div class="code-block" id="parenSyntax"></div>
    Putting the examples above together, the following query computes the screen
    time of Hillary Clinton on CNN or MSNBC:
    <div class="code-block" id="parenExample"></div>

    If the query is left blank, then no filters are applied and all of the
    data is counted.
  </p>

  <hr>

  <h2>Supported Query Filters</h2>
  <table class="table table-striped table-bordered table-sm">

    <tbody>
      <tr><td colspan="3"><h4>Filters on Entire Videos</h4></td></tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.channel }}</td>
        <td>description</td>
        <td>name of the channel</td>
      </tr>
      <tr>
        <td>values</td>
        <td>CNN, FOX, MSNBC</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ search_keys.channel }}="CNN"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.show }}</td>
        <td>description</td>
        <td>name of the show</td>
      </tr>
      <tr>
        <td>values</td>
        <td><a href="/data/shows" target="_blank">list of shows</a></td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>all</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ search_keys.show }}="CNN Newsroom"</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.hour }}</td>
        <td>description</td>
        <td>Range (inclusive) of hours in 24h format, in US eastern time. (UTC-5:00 in standard time and UTC-4:00 during daylight saving time).
        </td>
      </tr>
      <tr>
        <td>values</td>
        <td>0-23</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>0-23</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ search_keys.hour }}="10"<br>
            {{ search_keys.hour }}="9-17"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.day_of_week }}</td>
        <td>description</td>
        <td>range (inclusive) or a day in the week</td>
      </tr>
      <tr>
        <td>values</td>
        <td>mon, tue, wed, thu, fri, sat, sun</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>mon-sun</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ search_keys.day_of_week }}="mon"<br>
            {{ search_keys.day_of_week }}="sat-sun"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr><td colspan="3"><h4>Filters on Detected Faces</h4></td></tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">
          {{ search_keys.face_name }}<br>
        </td>
        <td>description</td>
        <td>
          face of the person with the specified name is on screen
        </td>
      </tr>
      <tr>
        <td>values</td>
        <td>
          <i>name</i><br />
          (See the <a href="/data/people" target="_blank">people page</a> for a complete list of people.)
        </td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ search_keys.face_name }}="Barack Obama"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">
          {{ search_keys.face_tag }}<br>
        </td>
        <td>description</td>
        <td>
          face with the specified tag(s) is on screen.
          Multiple tags can be specified with commas.
        </td>
      </tr>
      <tr>
        <td>values</td>
        <td>
          (fe)male, (non)host,
          <i>tag on person</i><br />
          (See the <a href="/data/tags" target="_blank">tags page</a> for a complete list of tags.)
        </td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>
            {{ search_keys.face_tag }}="male" <br>
            {{ search_keys.face_tag }}="male,host" <br>
            {{ search_keys.face_tag }}="male AND host" <br>
            {{ search_keys.face_tag }}="journalist"
          </code>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.face_count }}</td>
        <td>description</td>
        <td>number of faces on screen</td>
      </tr>
      <tr>
        <td>values</td>
        <td>1 or more</td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ search_keys.face_count }}=2</code></td>
      </tr>
    </tbody>

    <tbody>
      <tr><td colspan="3"><h4>Filters on Closed Caption Transcripts</h4></td></tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.text }}</td>
        <td>description</td>
        <td>segments where the specified text pattern appears in the transcript.</td>
      </tr>
      <tr>
        <td>values</td>
        <td>keywords or phrases. Use <code>|</code> for "or"<br />
            (See <a href="#text_filter_syntax">Text Filter Syntax</a> for more details of valid text patterns.)
        </td>
      </tr>
      <tr>
        <td>default</td>
        <td>n/a</td>
      </tr>
      <tr>
        <td>example</td>
        <td>
          <code>{{ search_keys.text }}="affordable care act"</code><br>
          <code>{{ search_keys.text }}="affordable care act | obamacare"</code><br>
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <td rowspan="4">{{ search_keys.text_window }}</td>
        <td>description</td>
        <td>Specifies how much to dilate the time interval associated with text filter matches.  By default a text filter selects exactly the video segment when a word or phase is being said.  By increasing the "window" around these matches it is possible to design queries where segments matching one filter need only be within a certain amount of time of a segment matching a text filter.</td>
      </tr>
      <tr>
        <td>values</td>
        <td>keyword or phrase</td>
      </tr>
      <tr>
        <td>default</td>
        <td>
          <var>{{ default_text_window }}</var>
        </td>
      </tr>
      <tr>
        <td>example</td>
        <td><code>{{ search_keys.text_window }}=2</code> (allows matches within 2 seconds)</td>
      </tr>
    </tbody>
  </table>

<hr>

  <h3><a id="text_filter_syntax"></a>Text Filter Syntax</h3>

 <h4>
    Listing words and phrases (word A or word B)
  </h4>
  <p>
    Sometimes a topic can be defined with multiple related or synonymous
    words/phrases. For example, the "European Union" can be also be referred to
    as the EU or E.U. in the transcripts. When this is the case, use the "|"
    character to delimit multiple words and phrases. For example,
    <code>{{ search_keys.text}}="European Union | EU | E.U."</code>
    will search for video segments where any of these three n-grams appear in the transcript.
    This can be repeated for an arbitrary
    number of words and phrases.
  </p>

  <h4>
    Inflections of words
  </h4>
  <p>
    Words can be used in many inflected forms. The simplest case is
    when words are singular or plural. To search for all inflected forms of
    a word without specifying them manually, surround the word with
    <code>[...]</code> brackets. For example,
    <code>{{ search_keys.text}}="[truck]"</code> will find instances of
    "truck", "trucks", and "trucking". If multiple words are surrounded by
    <code>[...]</code>, then inflections will be found for any of the words in the brackets.
  </p>

  <h4>
    Time windowing around mentions
  </h4>
  <p>
    By default, <code>{{ search_keys.text}}</code> will precisely find
    the intervals of time during which a word or phrase is spoken. This means that
    each mention will likely contribute only a small fraction of a second of screen time to a query result.
    Sometimes it is useful for a transcript query to match a wider region of time around the utterance
    of a word, for example if an query seeks examples where a person is on-screen within a specific amount of time
    of a word being stated.  The
    <code>{{ search_keys.text_window }}</code> parameter defines how much a time of time is dilated around a
    transcript match. (By default, its value is 0.)
    For example,
    <code>{{ search_keys.text }}="immigration" AND {{ search_keys.text_window }}=30</code>
    will find video intervals starting and ending 30 seconds before and after
    each mention of the word immigration.
  </p>

  <hr>

  <h3>Normalizing Query Results</h3>
  <p>

    Instead of computing screen time estimates in absolute time units (e.g., in
    minutes or hours), it can be useful to present query results as a proportion
    of the screen time of another query.  The query language supports
    normalization of one query's computed time by another using NORMALIZE:

    <div class="code-block" id="normSyntax"></div>

    For example, the following query computes the fraction of the overall
    dataset that is from CNN:

    <div class="code-block" id="normExampleCode"></div>

    The following query computes the fraction of time on CNN that a man's face
    is on screen:

    <div class="graph-embed-div">
      <iframe class="graph-embed-1line" id="normExample"></iframe>
    </div>
  </p>

  <hr>
  <h3>Adding and Subtracting Query Results</h3>
  <p>
    The query systems supports addition and subtraction of the times computed by
    two queries. Subtraction can be expressed as:

    <div class="code-block" id="subSyntax"></div>

    For example, the following query plots how much more screen time Hillary
    Clinton received than Bernie Sanders:

    <div class="code-block" id="subExampleCode"></div>
    <div class="graph-embed-div">
      <iframe class="graph-embed-1line" id="subExample"></iframe>
    </div>

    Addition can be expressed as:

    <div class="code-block" id="addSyntax"></div>

    Users should be mindful of the difference between "OR'ing" two query filters
    and adding the times computed using two queries.  For example,
    <b>name="Bernie Sanders" OR name="Bernie Sanders"</b> selects the same video
    segments, and therefore results in the same screen time computation as
    <b>name="Bernie Sanders"</b>.  However, <b>name="Bernie Sanders" ADD
    name="Bernie Sanders"</b> yields a plot showing double the value of Mr.
    Sanders' computed screen time.

  </p>

  <script type="text/javascript">
    initSynaxHighlighting();

    setCodeArea('#andSyntax', ['filter1="..." AND filter2="..." AND ... ']);
    setCodeArea('#andExample', ['{{ search_keys.face_name }}="Hillary Clinton" AND {{ search_keys.channel }}=CNN']);
    setCodeArea('#orSyntax', ['filter1="..." OR filter2="..." OR ... ']);
    setCodeArea('#orExample', ['{{ search_keys.channel }}="CNN" OR {{ search_keys.channel }}=MSNBC']);
    setCodeArea('#parenSyntax', ['(filter1="..." AND filter2="...") OR filter3="..."']);
    setCodeArea('#parenExample', ['{{ search_keys.face_name }}="Hillary Clinton" AND ({{ search_keys.channel }}=CNN OR {{ search_keys.channel }}=MSNBC)']);

    setCodeArea('#normSyntax', ['query1 NORMALIZE query2']);
    let norm_cnn_queries = [
      '{{ search_keys.face_tag }}=male AND {{ search_keys.channel }}=CNN NORMALIZE {{ search_keys.channel }}=CNN'
    ];
    setIframeSource('#normExample', norm_cnn_queries);
    setCodeArea('#normExampleCode', norm_cnn_queries);

    setCodeArea('#subSyntax', ['query1 SUBTRACT query2']);
    let subtract_queries = [
      '{{ search_keys.face_name }}=hillary clinton SUBTRACT {{ search_keys.face_name }}=bernie sanders'
    ];
    setIframeSource('#subExample', subtract_queries);
    setCodeArea('#subExampleCode', subtract_queries);

    setCodeArea('#addSyntax', ['query1 ADD query2']);
  </script>
</div>
{% endblock %}
