<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.3.4"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.1.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <script src="{{ url_for('static', filename='js/constant.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/chart.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/query.js') }}" /></script>

  <title>Stanford TV News Viewer</title>
  <style>
    .container {
      padding: 2px;
      text-align: center;
    }
    .container table {
      margin: auto;
      width: auto;
      border-spacing: 0px;
    }
    .container th, td {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
    .query-td {
      text-align: left;
    }
    .color-box {
      margin: auto;
      width: 20px;
      height: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <table id="search-table">
      <tr>
        <th>Color</th>
        <th>Query</th>
      </tr>
    </table>
  </div>
  <div class="container" id="options"></div>
  <div class="container">
    <div id="chart"></div>
  </div>

  <script>
    let params = (new URL(document.location)).searchParams;
    let data = JSON.parse(decodeURIComponent(params.get('data')));
    let width = params.get('width');
    let height = params.get('height');
    let chart_options = data.options;

    function renderText(lines) {
      // TODO: XSS attack here
      lines.forEach(line => {
        let html = `<tr name='${line.color}'>
          <td><div class="color-box" style="background-color: ${line.color};"></div></td>
          <td class="query-td">COUNT ${chart_options.count} OF ${line.query.query}</td>
        </tr>`;
        $('#search-table tbody').append(html);
      });
      $('#options').html(`Showing results from <b>${chart_options.start_date}</b> to <b>${chart_options.end_date}</b> aggregated by <b>${chart_options.aggregate}</b>.`);
    }

    let lines = data.queries.map(raw_query => {
      var parsed;
      try {
        parsed_query = new SearchableQuery(
          raw_query.text, chart_options.count, false);
      } catch (e) {
        alertAndThrow(e.message);
      }
      return {color: raw_query.color, query: parsed_query};
    });

    $('#shade').show();
    $('#search').prop('disabled', true);

    let search_results = {};
    function onDone() {
      new Chart(
        chart_options, search_results, {width: width, height: height}
      ).load('#chart', null);
      renderText(lines);
    };

    Promise.all(lines.map(line => {
      console.log('Executing query:', line.query);

      function onError(xhr) {
        var msg;
        try {
          msg = JSON.parse(xhr.responseText).message;
        } catch {
          msg = 'Unknown server error';
        }
        alert(`[Query failed. The chart may be incomplete.]\n\n${msg}`);
        console.log('Failed:', line, xhr);
      }

      return line.query.search(
        chart_options,
        result => search_results[line.color] = result,
        onError);
    })).then(onDone).catch(onDone);
  </script>
</body>
</html>
