{% extends "layout.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pegjs/0.9.0/peg.min.js" integrity="sha256-ETWi3bkH0XCqDYQKJ1ut+gf+oO31m2+NRBMZ25TntQ0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vega@5.3.4"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@3.1.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha256-c4gVE6fn+JRKMRvqjoDp+tlG4laudNYrXI1GncbfAYY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/addon/hint/show-hint.min.css" integrity="sha512-W/cvA9Wiaq79wGy/VOkgMpOILyqxqIMU+rkneDUW2uqiUT53I6DKmrF4lmCbRG+/YrW0J69ecvanKCCyb+sIWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.js" integrity="sha512-2359y3bpxFfJ9xZw1r2IHM0WlZjZLI8gjLuhTGOVtRPzro3dOFy4AyEEl9ECwVbQ/riLXMeCNy0h6HMt2WUtYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/addon/hint/show-hint.min.js" integrity="sha512-4+hfJ/4qrBFEm8Wdz+mXpoTr/weIrB6XjJZAcc4pE2Yg5B06aKS/YLMN5iIAMXFTe0f1eneuLE5sRmnSHQqFNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/addon/display/placeholder.min.js" integrity="sha512-acBo6sW2h2GZQ9BqU9v5RyYGPUEr1a9jrukJg825Y0ahxAg/7aqTNPtcalloqnf4DfsRVdcdNmcBNWPD8b8W8Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/addon/edit/closebrackets.min.js" integrity="sha512-tsjcYO5hFvViRssxiM7Jhd8601epWOx1He3Hl4yuI5dKKPxr43KxkOhc9GZeeqzlYJm9ABb7UPA9697NiqZZ7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/addon/edit/matchbrackets.min.js" integrity="sha512-GSYCbN/le5gNmfAWVEjg1tKnOH7ilK6xCLgA7c48IReoIR2g2vldxTM6kZlN6o3VtWIe6fHu/qhwxIt11J8EBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/syntax.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/embed.css') }}" />

<script src="/generated/js/values.js" /></script>

<script src="{{ url_for('static', filename='js/common.js') }}" /></script>
<script src="{{ url_for('static', filename='js/syntax.js') }}" /></script>
<script src="{{ url_for('static', filename='js/chart.js') }}" /></script>
<script src="{{ url_for('static', filename='js/query.js') }}" /></script>
<script src="{{ url_for('static', filename='js/editor.js') }}" /></script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="chart-info">
  <form action="javascript:void(0);" id="editor">
    <table class="search-table">
      <tbody></tbody>
      <tfoot>
        <tr class="control-tr">
          <td>
            <button type="button" title="Add a new row."
                    class="btn btn-outline-secondary btn-sm add-row-btn">+</button>
          </td>
          <td></td>
          <td class="control-td">
            between &nbsp;
            <input type="text" class="datepicker" name="startDate">
            &nbsp; and &nbsp;
            <input type="text" class="datepicker" name="endDate">
            &nbsp; aggregated by &nbsp;
            <select class="chosen-select" name="aggregateBy" data-width="fit">
              <option value="year">year</option>
              <option value="month">month</option>
              <option value="week">week</option>
              <option value="day">day</option>
            </select>
            &nbsp;
            <input type="submit" class="btn btn-secondary btn-sm search-btn"
                   value="Search the news!">
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
<div class="chart-container">
  <div id="chart"></div>
</div>

<div id="loadingText">Loading... &#8987;</div>

<script src="{{ url_for('static', filename='js/embed.js') }}" /></script>
{% endblock %}
