{% extends "layout.html" %}

{% block head %}
{{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pegjs/0.9.0/peg.min.js" integrity="sha256-ETWi3bkH0XCqDYQKJ1ut+gf+oO31m2+NRBMZ25TntQ0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vega@5.3.4"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@3.1.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/embed.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}" />
<script src="/generated/js/defaults.js" /></script>
<script src="/generated/js/values.js" /></script>
<script src="{{ url_for('static', filename='js/chart.js') }}" /></script>
<script src="{{ url_for('static', filename='js/query.js') }}" /></script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="container" id="warning"></div>
<div class="container" id="options"></div>
<div class="container" id="legend"></div>
<div class="container">
  <div id="chart"></div>
</div>

<div id="loadingText">Loading... &#8987;</div>

<script src="{{ url_for('static', filename='js/embed.js') }}" /></script>
{% endblock %}
