{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" integrity="sha256-vZ3SaLOjnKO/gGvcUWegySoDU6ff33CS5i9ot8J9Czk=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.js" integrity="sha256-dPTL2a+npIonoK5i0Tyes0txCMUWZBf8cfKRfACRotc=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/syntax-highlight.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/instructions.css') }}" />
  <script src="/generated/js/defaults.js" /></script>
  <script src="/generated/js/values.js" /></script>
  <script src="{{ url_for('static', filename='js/syntax-highlight.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/instructions.js') }}" /></script>
{% endblock %}


{% block content %}
<div class="container">
  <h1>Getting Started</h1>
  <p>
    The Stanford Cable TV News Analyzer allows you to write queries that count
    the screen time of people and transcript phrases in nearly a decade of
    American cable TV news (nearly 24/7 programming from Fox News, CNN, and
    MSNBC since January 1, 2010). This page provides a brief introduction using
    the site to write these queries.
  </p>
  <hr>
</div>

<div class="container">
  <h3>Background</h3>
  <p>
    24/7 news coverage is a staple of cable TV programming in the United States.
    Coverage consists of a broad range of topics, ranging from political
    coverage of the latest election cycle, emerging scandals involving
    high-profile individuals, social unrest and calls for reform to events
    unfolding across the globe, the latest victors in sports, and new trends in
    health and fashion. These programs can influence public opinion and
    the perceptions of world events or reflect pervasive social biases.
  </p>

  <p>
    In an age of big data analytics, <i>how do we ask questions about the
    content in the news media? How do we ask questions about topics being
    discuss or the people discussing them when media is measured in days, weeks
    or months --- more than is feasible for any individual to rewatch?</i> For
    instance, <i>what is the ratio of men to women show on screen when the topic
    is harassment, economics, or terrorism?</i>
  </p>

  <p>

    We have used modern AI techniques to automatically annotate nearly a decade
    of American Cable TV news programming with information such as the location
    of faces in the frame, the gender of each face, and the associated identity
    if the person is a "celebrity" or public figure. See the
    <a href="/methodology">methodology</a> page for a technical explanation of our
    methods and their limitations. The Stanford Cable TV News Analyzer enables
    interactive queries on the data set, which we hope will provide new insight
    into the contents of cable TV news.

  </p>

  <hr>

  <h3>The basics: Writing screen-time queries</h3>
  <p>
    The Stanford Cable TV News Analyzer allows you to write queries that video
    segments from the dataset and compute the screen time of these segments. At
    the top of the home page, you should see a search row and controls:

    <a href="/" target="_blank">
      <img src="{{ url_for('static', filename='img/ui.png') }}" style="width: 100%;"
           title="This is a screenshot. Click to pop out an editor.">
    </a>
  </p>

  <p>
    Each search query is a set of search filters. If no filters are given,
    then all of the video in the data is counted. The search box can be edited directly
    or using the dropdown search editor (click the &#x1F50D; button).
    Press the "Search the news!" button to show the amount of screen time
    over time.
  </p>

  <p>
    <button type="button" class="btn btn-primary try-it-btn" title="Opens a new page">Try it yourself!</button>
  </p>

  <p>
    For example, if you press search with no query added (the default),
    a chart similar to the following should appear; this shows the total amount
    of video in the data set from 2010 onwards, aggregated by month.
    While the amount of data is mostly constant across time,
    there are periods of time with more or less data available.
  </p>
  <iframe width="100%" height="400" id="allData"></iframe>

  <p>
    The previous chart includes all of the data from all three channels
    (CNN, FOX and MSNBC) in a single line. We can perform a comparison of
    the number of hours of video by charting each channel separately.
    To do this, use the + button to add two more rows and to write
    <code>{{ search_keys.channel }}=CNN</code>,
    <code>{{ search_keys.channel }}=FOX</code>,
    and <code>{{ search_keys.channel }}=MSNBC</code>
    into the search boxes, one per row so that the queries read:

    <div class="code-block" id="channelCode"></div>
  </p>

  <p>
    <button type="button" class="btn btn-primary try-it-btn" title="Opens a new page">Try it yourself!</button>
  </p>

  <p>
    If you set the queries up correctly, hitting the search button will
    now generate a chart that looks similar to this (hover over the graph for more detail,
    and click to open the graph full-screen in the analyzer):
  </p>
  <iframe width="100%" height="400" id="dataByChannel"></iframe>
  <p>
    Filtering on other basic metadata such as the show follows a similar
    pattern. For a full list of options, read the
    <a href="/detailed" target="_blank">advanced query documentation</a> page.
  </p>

  <hr>

  <h3>People in the news: Who is on screen?</h3>
  <p>
    People find themselves in the news for a variety of reasons. Anchors
    and journalists present the news; commentators may be invited on to
    espouse their opinions; or the person may be at the center of a story
    unfolding. Just as varied as the people and reasons for appearing
    are possible questions one might ask about these people.

    <i>For instance, what is the gender balance of the people in the news?
    Do these patterns hold when different topics are discussed,
    on different shows, or at different times in the day?</i>
  </p>

  <p>
    To answer these sorts of questions, this tool supports queries about
    on screen faces, their genders and their identities, for a subset of faces
    that have been identified.
    For example, we can compute the total screen time of men and women in the
    data set. This can be done using the <code>{{ search_keys.face_tag }}</code>
    filter predicate. In this case, we want to filter on gender, so the filters
    will be <code>{{ search_keys.face_tag }}="male"</code> and
    <code>{{ search_keys.face_tag }}"=female"</code> for frames that contain a face
    with a man and woman, respectively. Both of these queries can also be
    made by selecting the gender tag in the dropdown search editor.

    <div class="code-block" id="menVsWomenCode"></div>
  </p>

  <p>
    <button type="button" class="btn btn-primary try-it-btn" title="Opens a new page">Try it yourself!</button>
  </p>

  <p>
    If you entered the queries above, you should see a chart similar to the
    one below. Notice that the screen time of both male
    and female faces is trending upwards, but also that male screen time is
    roughly double that of female screen time.
  </p>
  <iframe width="100%" height="400" id="menVsWomen"></iframe>
  <p>
    We can also make queries about people who have been identified in the videos.
    For example, if we were to compare the screen time of Bernie Sanders with
    that of Hillary Clinton. This will also require use of the
    <code>{{ search_keys.face_name }}</code> filter.
    However, since we are now interested in frames that contain a person, we use
    <code>{{ search_keys.face_name }}="Bernie Sanders"</code>
    and <code>{{ search_keys.face_name }}="Hillary Clinton"</code>, respectively.

    <div class="code-block" id="clintonVsSandersCode"></div>
  </p>

  <p>
    <button type="button" class="btn btn-primary try-it-btn" title="Opens a new page">Try it yourself!</button>
  </p>

  <p>
    If you entered the queries above, you should see a chart similar to the
    one below.
  </p>
  <iframe width="100%" height="400" id="clintonVsSanders"></iframe>

  <p>
    To see the list of people who are searchable, click
    <a href="/data/people" target="_blank">here</a>
    or use the dropdown search editor.
  </p>

  <p>
    It is important to note that the results include instances where
    a face is visible on screen for any reason. We currently do not
    differentiate whether the face is the subject or background, or whether
    the face is a live appearance, a video, or still image.
  </p>

  <hr>

  <h3>Searching for topics: Using the transcripts</h3>
  <p>
    Words and phrases in the transcripts can be indicative of the topic being
    discussed. Likewise, careful choice of words and phrases can also reflect
    biases in presentation and content.
  </p>

  <p>
    This tool can search the transcripts for the intervals where
    words are being said. For instance,
    <code>{{ search_keys.text }}="UNITED NATIONS"</code> finds all times when
    the phrase <code>"UNITED NATIONS"</code> appears in the transcripts.

    <div class="code-block" id="unitedNationsCode"></div>
  </p>

  <p>
    <button type="button" class="btn btn-primary try-it-btn" title="Opens a new page">Try it yourself!</button>
  </p>

  <p>
    If you entered the query above, you should see a chart similar to the
    following:
  </p>

  <iframe width="100%" height="400" id="unitedNations"></iframe>

  <p>
    Notice that, by default, the tool finds only the exact moments when words
    are said. If for instance, we are interested in a window of 30 seconds
    around all times when the <code>"UNITED NATIONS"</code> appears, then
    we need the following.

    <div class="code-block" id="unitedNationsWindowCode"></div>
  </p>

  <p>
    <button type="button" class="btn btn-primary try-it-btn" title="Opens a new page">Try it yourself!</button>
  </p>

  <p>
    The chart has the same pattern, but has been scaled. When multiple
    text matches are found in a screen time window, then the screen time is
    counted only once. This is useful when specifying more complex queries
    across multiple terms.
    <iframe width="100%" height="400" id="unitedNationsWindow"></iframe>
  </p>

  <p>
    Multiple phrases can be specified using "|" as a separator. For
    example, <code>{{ search_keys.text }}="UNITED NATIONS | UN | U.N."</code>.
    This can be useful for defining a topic query.
  </p>

  <hr>

  <h3>Putting it all together</h3>
  <p>
    So far, we have seen a number of simple queries. However, more complex
    queries can be expressed with a combination of filters. A query that counts
    the screen time of men, can be extended to count the screen time of
    men on a single channel:

    <div class="code-block" id="menAndCNNCode"></div>

    Likewise, we can combine a query on identities with text. For example,
    to find the screen time of Bernie Sanders when the phrase
    <code>"WALL STREET"</code> appears in the transcript, we can
    write the following query.

    <div class="code-block" id="sandersAndWallStreetCode"></div>

    A further refinement of the query is to find when Bernie Sanders is on screen
    within 30 seconds of <code>"WALL STREET"</code> being said.

    <div class="code-block" id="sandersAndWallStreetWindowCode"></div>

    Similarly, the tool can compute screen time where two people
    (e.g., Bernie Sanders and Hillary Clinton) are shown on screen together.

    <div class="code-block" id="clintonAndSandersCode"></div>

    Please read the
    <a href="/detailed" target="_blank">advanced query documentation</a> page
    to understand the query syntax, the available query options, and advanced
    features such as query normalization. Many of these queries can also be
    constructed using the dropdown search editor.
  </p>

  <script type="text/javascript">
    initialize();
    setIframeSource('#allData', ['']);

    let channel_queries = [
      '{{ search_keys.channel }}=CNN',
      '{{ search_keys.channel }}=FOX',
      '{{ search_keys.channel }}=MSNBC'
    ];
    setIframeSource('#dataByChannel', channel_queries);
    setCodeArea('#channelCode', channel_queries);

    let men_women_queries = [
      '{{ search_keys.face_tag }}=male',
      '{{ search_keys.face_tag }}=female'
    ];
    setIframeSource('#menVsWomen', men_women_queries);
    setCodeArea('#menVsWomenCode', men_women_queries);

    let clinton_sanders_queries = [
      '{{ search_keys.face_name }}=hillary clinton',
      '{{ search_keys.face_name }}=bernie sanders'
    ];
    setIframeSource('#clintonVsSanders', clinton_sanders_queries);
    setCodeArea('#clintonVsSandersCode', clinton_sanders_queries);

    let united_nations_queries = ['{{ search_keys.text }}="UNITED NATIONS"'];
    setIframeSource('#unitedNations', united_nations_queries);
    setCodeArea('#unitedNationsCode', united_nations_queries);

    let united_nations_window_queries = [
      '{{ search_keys.text }}="UNITED NATIONS" AND {{ search_keys.text_window }}=30'
    ];
    setIframeSource('#unitedNationsWindow', united_nations_window_queries);
    setCodeArea('#unitedNationsWindowCode', united_nations_window_queries);

    setCodeArea('#menAndCNNCode', [
      '{{ search_keys.face_tag }}="male" AND {{ search_keys.channel }}=CNN'
    ]);
    setCodeArea('#sandersAndWallStreetCode', [
      '{{ search_keys.face_name }}="bernie sanders" AND {{ search_keys.text }}="WALL STREET"'
    ]);
    setCodeArea('#sandersAndWallStreetWindowCode', [
      '{{ search_keys.face_name }}="bernie sanders" AND {{ search_keys.text }}="WALL STREET" AND {{ search_keys.text_window }}=30'
    ]);
    setCodeArea('#clintonAndSandersCode', [
      '{{ search_keys.face_name }}="bernie sanders" AND {{ search_keys.face_name }}="hillary clinton"'
    ]);
  </script>
</div>
{% endblock %}
