{% extends "layout.html" %}

{% block meta %}
  {{ super() }}
  <meta property="og:title" content="Stanford Cable TV News Analyzer - Getting started" />
  <meta property="og:url" content="https://{{ host }}/getting-started" />
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instructions.css') }}" />

<script src="/generated/js/values.js" /></script>

<script src="{{ url_for('static', filename='js/common.js') }}" /></script>
<script src="{{ url_for('static', filename='js/instructions.js') }}" /></script>

<style>
.example_img {
   border: 1px solid #d0d0d0;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
</style>

{% endblock %}


{% block content %}
<div class="container">
  <h1>Getting Started</h1>
  <p>
    The Stanford Cable TV Analyzer enables you to write queries that compute the amount of time <i>people appear</i> and the amount of time <i>words are heard</i> in <a href="/data">cable TV news</a>.  In this tutorial we will go over the basics of how to use the tool to write simple queries.
  </p>

  <hr>

  <h3>Computing the Screen Time of Individuals</h3>

  <p>
    Writing a query using the Stanford Cable TV Analyzer involves specifying filters that determine what video segments to include in a screen time computation.  One of the most important filters is the <b>name</b> filter, which selects video segments where a specified individual appears on screen.  For example, below is a query that computes the amount of time Kamala Harris's face appeared on screen in every month since {{ start_date }}. One obvious feature of the graph is the spike in coverage in July 2019 after the first Democratic primary debate. More recently we see the rightmost spike in August 2020 after Ms. Harris was named Joe Biden’s running mate.
  </p>

<div class="graph-embed-div">
  <iframe id="onePerson" class="graph-embed-1line"></iframe>
</div>

  <p>
    The <a href="/data/people">people</a> page provides the full list of names that can be used in a <b>name</b> filter. We encourage you to change the name used in the query above to compute the screen time for other individuals. (The query box is editable!)
  </p>

<h3>Comparing Screen Times</h3>

<p>
  Many questions about cable TV news content require comparisons between different screen time computations.  To add new lines to the graph, use the + button to add more query boxes. The following graph compares the screen time of Kamala Harris to that of Elizabeth Warren.
</p>

<div class="graph-embed-div">
<iframe id="twoPeople" class="graph-embed-3line"></iframe>
</div>

<h3>Filtering by Face Tags</h3>

<p>
  In addition to filtering by a person's name, it is possible to filter by other tags associated with faces that appear in the dataset.  For example, each face detected in our dataset is automatically tagged with a prediction of the individual's presenting gender. In the graph below, we use the <b>tag</b> filter to compare the total time male-presenting individuals are on screen with that of female-presenting individuals. (Please see the discussion in our <a href="/faq#gender">FAQ</a> about the decision to include binary presenting gender tags in the dataset.)
</p>

<div class="graph-embed-div">
<iframe id="maleFemale" class="graph-embed-2line"></iframe>
</div>

<p>
  A query can specify multiple tags that a face must match.  For example, adding the "{{ global_tags.host }}" tag to the face tag filter from the prior graph yields this graph that compares the screen time of <b>male news presenters</b> with that of <b>female news presenters</b>. (We consider news presenters to be program hosts, anchors, key on-air staff.)  Among presenters, the trend toward gender parity appears to have reversed since 2015.
</p>

<div class="graph-embed-div">
<iframe id="maleFemaleHost" class="graph-embed-2line"></iframe></div>

{% if hide_person_tags %}
<p>
  The <a href="/data/tags">tags</a> page contains the full list of tags that can be used in a face <b>tag</b> filter. Details about how Stanford Cable TV News Analyzer attributes tags to faces is provided on our <a href="/methodology">methodology page.</a>
 </p>

{% else %}
<p>
  The <a href="/data/tags">tags</a> page contains the full list of tags that can be used in a face <b>tag</b> filter.  You'll see tags like "musician", "politician", "journalist" and we encourage you to play around with the query above to plot the screen time of people associated with different tags.
</p>
 <p>
  As you write queries it is important to be mindful that tags are <b>not exhaustive</b>.
  For example, a query using the filter "tag=politician" computes the screen time of all faces in the dataset that have been identified as politicians.  However, since not every politician in the dataset is correctly identified by automatic face recognition methods, the true screen time of people on the news who are actually politicians is certainly higher.  In some cases, tags are present for all faces in the data (e.g., gender, see the <a href="/data/tags">tags page</a> for a list).  Details about how Stanford Cable TV News Analyzer attributes tags to faces is provided on our <a href="/methodology">methodology page.</a>
</p>
{% endif %}

<h3>Composite Queries (AND's and OR's)</h3>

<p>
  To allow more precise control over what video segments are included in a screen time computation, queries may contain multiple filters connected by AND's and OR's.  For example, the graph below extends our previous Kamala Harris vs. Elizabeth Warren graph with a third line that plots the amount of time where both Ms. Harris AND Ms. Warren are on screen.
</p>

<div class="graph-embed-div">
<iframe id="harrisAndWarren" class="graph-embed-3line"></iframe>
</div>

<p>
  A common use of multiple filters is to limit screen time computations to certain channels, news programs, or specific times of day or days of the week.  For example, in the graph below we compare the screen time of Kamala Harris between 6-10pm (US Eastern time) on CNN, with that of Fox News and MSNBC.  (Ms. Harris receives the most screen time during this time period on MSNBC.)
</p>

<div class="graph-embed-div">
<iframe id="harrisChannelHour" class="graph-embed-3line"></iframe>
</div>

<h3>Caption-Text Filters</h3>

<p>
  Queries may also filter video content based on the text contents of video captions.  For example, if you were interested in how much certain foreign countries are discussed on the news, you could use <b>text</b> filters to compare the amount of time country names are mentioned in the captions.  For example:
</p>

<div class="graph-embed-div">
<iframe id="countriesText" class="graph-embed-5line"></iframe>
</div>

<p>
<b></b>
</p>

<p>
  The <a href="/docs">advanced documentation</a> page describes additional features of <b>text</b> filters, such the ability to specify of lists of words in a filter (e.g., topic lexicons) or perform searches that match inflections of a word.
</p>

<p>
  It is important to notice that the above graph plots measurements of time.  <b>It does not count the number of times the specified phrase is found in the captions.</b> All queries run by the Stanford Cable TV Analyzer, regardless of the filters used, compute the time spanned by video segments that match the specified filters. When interpreting results of queries that contain <b>text</b> filters, users should be mindful that longer text phrases will likely contribute more time per found instance than shorter phrases.
</p>

<p>
  Since <b>text</b> filters (like all other filters) are used to select video segments, they can be combined with all other filters in queries.  Combining <b>text</b> and face filters (e.g, <b>name</b> or <b>tag</b>) can yield interesting queries. For example, the following graph computes the time that Hillary Clinton is on screen AND the word "email" is spoken. (We observe that word "email" is sometimes written as "e mail" in the captions, so the text search filter matches both "email" or "e mail".)
</p>

<div class="graph-embed-div">
<iframe id="clintonEmailText" class="graph-embed-3line"></iframe>
</div>

<p>
  Observe that the above graph computes the amount of time where Ms. Clinton is on screen AND the word "email" is spoken, but this query does not mean that the word "email" was spoken by Ms. Clinton. It is possible the speaker was another person on screen or even an off-screen voice. At this time the Stanford Cable TV Analyzer does not provide the ability to identify who is speaking.
</p>

<h3>Viewing Video Clips</h3>

<p>
  In many situations it is useful to view examples of video clips that pass a query's filters.  For example, you might wish to inspect the matching video clips to get of sense of whether automated face identification is robustly recognizing the person specified in the query. Another common task is to view selected clips when debugging a more complex query to ensure the query is selecting the types of videos intended.  When viewing a graphs on the main <a href="/">Stanford Cable TV News Analyzer</a> site, clicking on the graph will display a random selection of video clips that matched query's filters at that point in time.  You can further investigate these results by playing the video clips as well as viewing their captions.
</p>

<p>
  A sampling of results from our earlier query <b>{{ search_keys.face_name }}="Kamala Harris"</b> are given below.  These thumbnails serve as a good reminder that a person can appear on screen in many different ways: as a guest on a show, in B-roll footage, or as a static image used as part of an infographic.
</p>

<p style="text-align: center;">
  <img class="example_img" src="{{ url_for('static', filename='img/tutorials/video_thumbs_harris.jpg') }}" width="900" height="289" />
</p>

<hr>

<h3>You're set! Now try writing queries of your own...</h3>

<p>
  You've now seen a few basic examples of writing screen time queries.  We now invite you to try creating more of your own! We're excited to see what analyzes are possible.
</p>

<p>To learn more about more advanced query features not discussed in this tutorial, please take a look at the <a href="/docs">advanced queries page</a>. You may also want to browse the <a href="/data">dataset page</a> to learn about what people and tags available for use in queries.
</p>

<p>&nbsp;</p>

<script type="text/javascript">
  setIframeSource(
    '#onePerson',
    ['{{ search_keys.face_name }}="Kamala Harris"'],
    true
  );
  setIframeSource(
    '#twoPeople', [
      '{{ search_keys.face_name }}="Kamala Harris"',
      '{{ search_keys.face_name }}="Elizabeth Warren"'
    ],
    true
  );
  setIframeSource(
    '#maleFemale', [
      '{{ search_keys.face_tag }}="{{ global_tags.male }}"',
      '{{ search_keys.face_tag }}="{{ global_tags.female }}"'
    ],
    true
  );
  setIframeSource(
    '#maleFemaleHost', [
      '{{ search_keys.face_tag }}="{{ global_tags.male }} and {{ global_tags.host }}"',
      '{{ search_keys.face_tag }}="{{ global_tags.female }} and {{ global_tags.host }}"'
    ],
    true
  );
  setIframeSource(
    '#harrisAndWarren', [
      '{{ search_keys.face_name }}="Kamala Harris"',
      '{{ search_keys.face_name }}="Elizabeth Warren"',
      '{{ search_keys.face_name }}="Kamala Harris" and {{ search_keys.face_name }}="Elizabeth Warren"'
    ],
    true
  );
  setIframeSource(
    '#harrisChannelHour', [
      '{{ search_keys.face_name }}="Kamala Harris" and {{ search_keys.channel }}="cnn" and {{ search_keys.hour }}="18-22"',
      '{{ search_keys.face_name }}="Kamala Harris" and {{ search_keys.channel }}="fox" and {{ search_keys.hour }}="18-22"',
      '{{ search_keys.face_name }}="Kamala Harris" and {{ search_keys.channel }}="msnbc" and {{ search_keys.hour }}="18-22"'
    ],
    true
  );
  setIframeSource(
    '#countriesText', [
      '{{ search_keys.text }}="France"',
      '{{ search_keys.text }}="United Kingdom | UK | U.K"',
      '{{ search_keys.text }}="China"',
      '{{ search_keys.text }}="Russia"',
      '{{ search_keys.text }}="North Korea"'
    ],
    true
  );
  setIframeSource(
    '#clintonEmailText', [
      '{{ search_keys.face_name }}="Hillary Clinton" and {{ search_keys.text }}="email | e mail" and {{ search_keys.channel }}="cnn"',
      '{{ search_keys.face_name }}="Hillary Clinton" and {{ search_keys.text }}="email | e mail" and {{ search_keys.channel }}="fox"',
      '{{ search_keys.face_name }}="Hillary Clinton" and {{ search_keys.text }}="email | e mail" and {{ search_keys.channel }}="msnbc"'
    ],
    true
  );
</script>

</div>
{% endblock %}
