<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.3.4"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.1.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/css/bootstrap-select.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>

  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <script src="{{ url_for('static', filename='chart.js') }}" /></script>
  <script src="{{ url_for('static', filename='query.js') }}" /></script>

  <title>Esper: TV News Search</title>
  <style>
    .container {
      padding: 4px;
    }
    .search-table-container table {
      border-spacing: 0px;
      width: 100%;
    }
    .search-table-container th {
      text-align: center;
    }
    .search-table-container input[name=query] {
      width: 100%;
      height: 35px;
      text-align: center;
      margin: auto;
    }
    .color-box {
      margin: auto;
      width: 35px;
      height: 35px;
    }
    #query-help {
      padding: 10px;
      background-color: #F4F4F4;
      display: none;
    }
    #query-help th {
      text-align: left;
    }
    #query-help td, th {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
    }
    #chart-options input, select {
      text-align: center;
    }
    #chart-options .datepicker {
      width: 100px;
    }
    #extra-options {
      padding: 10px;
      background-color: #F4F4F4;
      display: none;
    }
    #extra-options input {
      text-align: center;
    }
    #embed-area textarea {
      width: 100%;
      margin: auto;
      display: none;
    }
    #chart {
      width: 90%;
      text-align: center;
    }
    #shade {
      background-color: #000000;
      display: none;
      opacity: 0.2;
      height: 100%;
      width: 100%;
      position:fixed;
      top: 0px;
      right: 0px;
      bottom:0px;
      left:0px;
    }
  </style>
</head>
<body>
  <div class="container search-table-container">
    <table id="search-table">
      <tr>
        <th></th>
        <th>Color</th>
        <th width="95%">Query <a href="#" onclick="toggleQueryHelp(); return false;" id="toggle-help">(show help)</a></th>
      </tr>
    </table>
  </div>

  <div class="container" id="chart-options">
    Count
    <select class="selectpicker" id="countBy" data-width="fit">
      <option value="mentions" selected="selected">mentions</option>
    </select>
    between
    <input type="text" class="datepicker" id="startDate">
    and
    <input type="text" class="datepicker" id="endDate">
    aggregated by
    <select class="selectpicker" id="aggregateBy" data-width="fit">
      <option value="year">year</option>
      <option value="month" selected="selected">month</option>
      <option value="week">week</option>
      <option value="day">day</option>
    </select>
    . &nbsp;
    <button type="button" class="btn btn-secondary" id='addRow'>Add query (+)</button>
    <button type="button" class="btn btn-primary" id="search">Search the news!</button>
  </div>

  <div class="container" id="extra-options">
    Dilation time window (in seconds):
    <input type="number" id="timeWindow" value="0" min="0" max="300" style="width: 45px">
  </div>

  <script>
    function fromDatepickerStr(s) {
      let tokens = s.split('/');
      return `${tokens[2]}-${tokens[0]}-${tokens[1]}`
    }

    function toDatepickerStr(s) {
      let tokens = s.split('-');
      return `${tokens[1]}/${tokens[2]}/${tokens[0]}`
    }

    function getChartOptions() {
      let start_date = fromDatepickerStr($('#startDate').val());
      let end_date = fromDatepickerStr($('#endDate').val());
      if (start_date > end_date) {
        alertAndThrow('Start date cannot exceed end date.');
      }
      return {
        start_date: start_date,
        end_date: end_date,
        aggregate: $('#aggregateBy').val(),
        window: $('#timeWindow').val()
      }
    }

    function initChartOptions(chart_options) {
      var start_date = '{{ start_date }}';
      var end_date = '{{ end_date }}';
      if (chart_options) {
        start_date = chart_options.start_date;
        end_date = chart_options.end_date;
        $('#aggregateBy').val(chart_options.aggregate);
        $('#timeWindow').val(chart_options.window);
      }
      $('#startDate').datepicker({
        format: 'mm/dd/yyyy',
        forceParse: false,
        startDate: toDatepickerStr(start_date),
        endDate: toDatepickerStr(end_date)
      });
      $('#startDate').val(toDatepickerStr(start_date));
      $('#endDate').datepicker({
        format: 'mm/dd/yyyy',
        forceParse: false,
        startDate: toDatepickerStr(start_date),
        endDate: toDatepickerStr(end_date)
      });
      $('#endDate').val(toDatepickerStr(end_date));
    }
  </script>

  <div class="container" id="query-help">
    <p><b>Query usage</b> - The following options are supported (separated by ';'s).</p>
    <div class="container">
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Values</th>
          <th>Default</th>
          <th>Example</th>
        </tr>
        <tr>
          <td>text</td>
          <td>text to count mentions for</td>
          <td><a href="https://github.com/scanner-research/caption-index/blob/master/captions/query.py" target="_blank">grammar</a></td>
          <td>n/a</td>
          <td>text=donald trump</td>
        </tr>
        <tr>
          <td>channel</td>
          <td>name of the channel</td>
          <td>CNN, FOX, MSNBC</td>
          <td>all</td>
          <td>channel=CNN</td>
        </tr>
        <tr>
          <td>show</td>
          <td>name of the show</td>
          <td><a href="/shows" target="_blank">list of shows</a></td>
          <td>all</td>
          <td>show="CNN Newsroom"</td>
        </tr>
        <tr>
          <td>hour</td>
          <td>ranges of hours in 24h format</td>
          <td>0-23 or 0, 1, 2, ...</td>
          <td>0-23</td>
          <td>hour=9-17</td>
        </tr>
        <tr>
          <td>daysofweek</td>
          <td>range or list of days</td>
          <td>mon-sun or mon, tue, ...</td>
          <td>all</td>
          <td>daysofweek=sat-sun</td>
        </tr>
        <tr>
          <td>onscreen.face</td>
          <td>face is on screen (height >= 20%)</td>
          <td>
            any, man, woman, host, guest <br>
            {man,woman}_{host,guest}
          </td>
          <td>n/a</td>
          <td>onscreen.face=man_host</td>
        </tr>
        <tr>
          <td>onscreen.id</td>
          <td>person is on screen (height >= 20%)</td>
          <td><a href="/people" target="_blank">list of people</a></td>
          <td>n/a</td>
          <td>onscreen.id="barack obama"</td>
        </tr>
        <tr>
          <td>nocomms</td>
          <td>exclude mentions in commercials</td>
          <td>true, false</td>
          <td>true</td>
          <td>nocomms=true</td>
        </tr>
      </table>
    </div>
  </div>
  <script>
    function toggleQueryHelp() {
      if ($('#toggle-help').text().includes('show')) {
        $('#query-help').show();
        $('#toggle-help').text('(hide help)');
      } else {
        $('#query-help').hide();
        $('#toggle-help').text('(show help)');
      }
    }
  </script>

  <div class="container" id="chart-area">
    <div id="chart"></div>
  </div>

  <div class="container" id="embed-area">
    <p name="text"></p>
    <textarea readonly rows="3" name="embed"></textarea>
  </div>

  <div id="shade">&nbsp;</div>

  <script>
    const EMBED_DIMS = {width: 1000, height: 400};

    const COLORS = [
      '#4E79A7', '#F28E2B', '#E15759', '#76B7B2', '#59A14F',
      '#EDC948', '#B07AA1', '#FF9DA7', '#9C755F', '#BAB0AC'
    ];

    function shuffle(a) {
      for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
      }
      return a;
    }

    const DEFAULT_PHRASES = shuffle([
      'donald trump',
      'hillary clinton',
      'terrorism',
      'isis',
      'immigration',
      'black lives | blacklivesmatter | blacklives',
      'brexit',
      'obamacare | affordable care act',
      'irs | internal revenue service',
      'socialism | socialist',
      'hurricane irma',
      'fifa',
      'facebook',
      'alternative facts | fake news',
      'collusion',
      'sean spicer & [resign]',
      'global warming',
      'arab spring',
      '787 | dreamliner',
      'trayvon martin',
      'north korea | dprk',
      'bernie sanders',
      'nafta',
      'e coli | ecoli',
      'ebola',
      'border wall | border fence',
      'government shutdown'
    ]);

    const ALL_SHOWS = [
      {% for show in shows %}
      "{{ show }}",
      {% endfor %}
    ];

    function getRandomSample(arr) {
      return arr[Math.floor(Math.random() * arr.length)];
    }

    function getColor() {
      for (var i in COLORS) {
        if ($(`#search-table tr[name='${COLORS[i]}']`).length == 0) {
          return COLORS[i];
        }
      }
      throw Error('All colors used');
    }

    function getDefaultPhraseQuery() {
      for (var i in DEFAULT_PHRASES) {
        if ($(`#search-table input[name='query'][value*='${DEFAULT_PHRASES[i]}']`).length == 0) {
          return DEFAULT_PHRASES[i];
        }
      }
      throw Error('All default queries used');
    }

    function removeRow(color) {
      $(`#search-table tr[name='${color}']`).remove();
      $('#addRow').prop('disabled', false);
    }

    function addRow(query) {
      let color = query ? query.color : getColor();
      let query_str = query ? query.query : `text="${getDefaultPhraseQuery()}"`;
      let remove_btn = $('#search-table tr').length > 1 ?
        `<button type="button" class="btn btn-secondary" onclick="removeRow('${color}');">-</button>` : '';
      let html = `<tr name='${color}'>
        <td>${remove_btn}</td>
        <td><div class="color-box" style="background-color: ${color};"></div></td>
        <td><input type="text" name="query" value='${query_str}'</td>
      </tr>`;
      $('#search-table tbody').append(html);
      if ($('#search-table tr').length >= COLORS.length + 1) {
        $('#addRow').prop('disabled', true);
      }
    }
    $('#addRow').click(() => {addRow();});

    function getEmbedUrl(chart_options, queries) {
      return `http://{{ host }}/embed?width=${EMBED_DIMS.width}&height=${EMBED_DIMS.height}&data=${btoa(JSON.stringify({options: chart_options, queries: queries}))}`;
    }

    function getChartPath(chart_options, queries) {
      return `/?data=${btoa(JSON.stringify({options: chart_options, queries: queries}))}`;
    }

    function setShareUrl(path) {
      var dummy = document.createElement('input');
      document.body.appendChild(dummy);
      dummy.setAttribute('value', 'http://{{ host }}' + path);
      dummy.select();
      document.execCommand("copy");
      document.body.removeChild(dummy);
      alert('Copied link to clipboard!');
    }

    function setEmbedUrl(url) {
      let x = $('#embed-area textarea[name="embed"]');
      x.val(`<iframe src="${url}"></iframe>`);
      x.toggle();
    }

    function alertAndThrow(msg) {
      alert(msg);
      throw Error(msg);
    }

    function search() {
      let chart_options = getChartOptions();
      let queries = [];
      $('#search-table tr').each(function() {
        if ($(this).attr('name')) {
          let query = $.trim($(this).find("input[name='query']").val());
          queries.push({
            color: $(this).attr('name'),
            query: query
          });
        }
      });

      function displayResults() {
        loadChart('#chart', chart_options, search_results, {
          width: $("#chart").width(), height: EMBED_DIMS.height
        });
        let embed_url = getEmbedUrl(chart_options, queries);
        let chart_path = getChartPath(chart_options, queries);
        $('#embed-area p[name="text"]').html(
`<a href="#" onclick="setShareUrl('${chart_path}'); return false;">Share</a>
or <a href="#" onclick="setEmbedUrl('${embed_url}'); return false;">embed</a> chart.`
        );
        window.history.pushState(null, '', chart_path)
      }

      let parsed_queries = queries.map(query => {
        var filters;
        try {
          filters = normalizeFilters(parseFilters(query.query));
        } catch (e) {
          alertAndThrow(e.message);
        }
        return {
          color: query.color, query: query.query,
          args: getQueryOptions(chart_options, filters)
        };
      });

      let search_results = {};
      var remaining = parsed_queries.length;

      $('#shade').show();
      $('#search').prop('disabled', true);
      parsed_queries.forEach(query => {
        $.ajax({
          url: '/text-search',
          type: 'get',
          data: query.args,
          success: resp => {
            search_results[query.color] = {query: query.query, data: resp};
            remaining--;
            if (remaining <= 0) {
              $('#shade').hide();
              $('#search').prop('disabled', false);
              displayResults();
            }
          },
          error: xhr => {
            alert(`Query failed. The chart may be incomplete.\n\n"${
                  JSON.parse(xhr.responseText).message}"`);
            console.log('Failed:', query);
            remaining--;
            if (remaining <= 0) {
              $('#shade').hide();
              $('#search').prop('disabled', false);
              displayResults();
            }
          }
        });
      });
    }
    $('#search').click(search);

    /* Load initial plot */
    let params = (new URL(document.location)).searchParams;
    if (params.get("extras") == "1") {
      $('#extra-options').show();
    }
    if (params.get('data')) {
      let data = JSON.parse(atob(params.get('data')));
      try {
        data.queries.forEach(query => addRow(query));
        initChartOptions(data.options);
        search();
      } catch (e) {
        alert('Invalid data in url. Unable to load.');
        console.log('Unable to load:', e);
      }
    } else {
      initChartOptions();
      addRow();
    }
  </script>
</body>
</html>
