<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.3.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc15"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0-rc1"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <title>Keyword Search</title>
  <style>
    .container {
      width: auto;
      height: auto;
      margin: 5px;
    }
    .search-table-container table {
      width: 850px;
      border-spacing: 0px;
    }
    .search-table-container th {
      text-align: center;
    }
    .search-table-container input[name=query] {
      width: 600px;
      height: 40px;
      text-align: center;
      margin: auto;
    }
    .search-table-container input[name=filters] {
      width: 300px;
      height: 40px;
      text-align: center;
      margin: auto;
    }
    .color-box {
      margin: auto;
      width: 40px;
      height: 40px;
    }
    #chart-options {
      width: 300px;
      height: auto;
    }
    #default-filters {
      width: 300px;
      height: auto;
    }
    #filters-help {
      padding: 10px;
      background-color: #F8F8F8;
    }
    #filters-help th {
      text-align: center;
    }
    #filters-help td, th {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <p><b>Instructions:</b> Enter your queries below and hit search when ready.</p>
    <p>
      <b>Chart options</b> - These are options to generate the chart (one per line).
      <textarea id="chart-options">
start_date: {{ start_date }}
end_date: {{ end_date }}
aggregate: {{ aggregate }}
window: 0</textarea>
    </p>
  </div>

  <div class="container">
    <div class="search-table-container">
      <table id="search-table">
        <tr>
          <th>Color</th>
          <th>Keyword Query <a href="https://github.com/scanner-research/caption-index/blob/master/captions/query.py" target="_blank">(grammar)</a></th>
          <th>Filters (show usage: <input type="checkbox" id="showFiltersHelp" onclick="showFiltersHelp()">)</th>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <button type="button" id='addRow'>+</button>
    <button type="button" id='removeRow'>-</button>
    <button type="button" id='search'>Search</button>
  </div>

  <div class="container" id="filters-help">
    <p><b>Filters usage</b> - The following filters are supported (separated by ';'s).</p>
    <div class="container">
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Values</th>
          <th>Default</th>
          <th>Usage</th>
        </tr>
        <tr>
          <td>channel</td>
          <td>name of the channel</td>
          <td>CNN, FOXNEWS, MSNBC</td>
          <td></td>
          <td>channel: CNN</td>
        </tr>
        <tr>
          <td>show</td>
          <td>name of the show</td>
          <td><a href="/shows" target="_blank">list of shows</a></td>
          <td></td>
          <td>show: CNN Newsroom</td>
        </tr>
        <tr>
          <td>hours</td>
          <td>ranges of hours in 24h format</td>
          <td>0-23 or 0, 1, 2, ...</td>
          <td>0-23</td>
          <td>hours: 9-17</td>
        </tr>
        <tr>
          <td>weekdays</td>
          <td>ranges of days; 1=Mon, 7=Sun</td>
          <td>1-7 or 1, 2, ...</td>
          <td>1-7</td>
          <td>weekdays: 6-7</td>
        </tr>
      </table>
    </div>
  </div>
  <script>
    function showFiltersHelp() {
      if ($('#showFiltersHelp').is(':checked')) {
        $("#filters-help").show();
      } else {
        $("#filters-help").hide();
      }
    }
    showFiltersHelp();
  </script>

  <div class="container">
    <div id="chart"></div>
  </div>

  <script>
    const COLORS = [
      'red', 'blue', 'green',  'orange', 'cyan', 'magenta',
      'purple', 'yellow', 'gray', 'brown'
    ];

    const DEFAULT_QUERIES = [
        'donald trump', 'hillary clinton', 'terrorism', 'isis', 'immigration',
        'black lives | blacklivesmatter | blacklives', 'brexit',
        'obamacare | affordable care act', 'irs | internal revenue service',
        'socialism | socialist', 'hurricane irma', 'fifa', 'facebook',
        'alternative facts | fake news', 'collusion', 'sean spicer & [resign]',
        'global warming', 'arab spring', '787 | dreamliner', 'trayvon martin',
        'north korea | dprk', 'bernie sanders', 'nafta', 'e coli | ecoli',
        'ebola', 'border wall | border fence', 'government shutdown'
    ];

    function choice(arr) {
      return arr[Math.floor(Math.random() * arr.length)];
    }

    function getColor() {
      for (var i in COLORS) {
        if ($(`#search-table tr[name='${COLORS[i]}']`).length == 0)
          return COLORS[i];
      }
      throw 'All colors used';
    }

    function addRow() {
      var color = getColor();
      let html = `<tr name='${color}'>
        <td><div class="color-box" style="background-color: ${color};"></div></td>
        <td><input type="text" name="query" value="${choice(DEFAULT_QUERIES)}"</td>
        <td><input type="text" name="filters" placeholder='channel: none; show: none'></td>
      </tr>`;
      $('#search-table tbody').append(html);
    }
    addRow();
    $('#addRow').click(addRow);

    function removeRow() {
      if ($('#search-table tr').length > 2) {
        $('#search-table tr:last').remove();
      }
    }
    $('#removeRow').click(removeRow);

    function getQueryOptions(chart_options, query_filters) {
      let options = query_filters;
      if (chart_options.start_date) {
        options.start_date = chart_options.start_date.toISOString().split('T')[0];
      }
      if (chart_options.end_date) {
        options.end_date = chart_options.end_date.toISOString().split('T')[0];
      }
      if (chart_options.aggregate) {
        options.aggregate = chart_options.aggregate;
      }
      if (chart_options.window) {
        options.window = chart_options.window;
      }
      return options;
    }

    function parseFilters(filter_str) {
      let filters = {};
      if (filter_str) {
        filter_str.split(';').forEach(line => {
          line = $.trim(line);
          let i = line.indexOf(':');
          let k = $.trim(line.substr(0, i));
          let v = $.trim(line.substr(i + 1));
          filters[k] = v;
        });
      }
      return filters;
    }

    function search() {
      let chart_options_str = $.trim($('#chart-options').val());
      let chart_options = chart_options_str ? jsyaml.safeLoad(chart_options_str) : {};
      let queries = [];
      $('#search-table tr').each(function() {
        if ($(this).attr('name')) {
          let query_str = $.trim($(this).find("input[name='query']").val());
          let query_filters_str = $.trim($(this).find("input[name='filters']").val());
          if (query_str) {
            let query_options = getQueryOptions(chart_options, parseFilters(query_filters_str));
            queries.push({
              color: $(this).attr('name'),
              query_str: query_str,
              options: query_options
            });
          }
        }
      });

      let results = {};
      var remaining = queries.length;
      queries.forEach(query => {
        var args = {query: query.query_str};
        args = Object.assign(args, query.options);
        $.ajax({
          url: '/search',
          type: 'get',
          data: args,
          success: resp => {
            results[query.color] = {
              query: query.query_str,
              options: query.options,
              data: resp
            };
            remaining--;
            if (remaining <= 0) {
              loadChart(chart_options, results);
            }
          },
          error: xhr => {
            alert('Query failed...');
            remaining--;
            if (remaining <= 0) {
              loadChart(chart_options, results);
            }
          }
        });
      });
    }
    $('#search').click(search);

    function loadChart(chart_options, results) {
      let window = _.get(chart_options, 'window', 0);
      let agg_results = Object.keys(results).flatMap(color => {
        let result = results[color];
        let data = result.data;
        return Object.keys(data).map(
          t => ({
            time: t, color: color, query: result.query,
            value: data[t].reduce((acc, x) => acc + x[1], 0),
            video_count: data[t].length,
            video_href: `/videos?ids=${JSON.stringify(data[t].map(x => x[0]))}&query=${result.query}&window=${window}`
          })
        );
      })

      let unit = window > 0 ? 'seconds' : 'mentions';
      let vega_spec = {
        $schema: 'https://vega.github.io/schema/vega-lite/v3.json',
        description: `${window > 0 ? 'Keyword mentions' : 'Topic time'} over time`,
        data: {
          values: agg_results
        },
        layer: [{
            selection: {
              highlight: {type: 'single', on: 'mouseover', nearest: 'true', field: 'color'}
            },
            mark: 'line',
            encoding: {
              x: {field: 'time', type: 'temporal', timeUnit: 'utcyearmonthdate', title: 'time'},
              y: {field: 'value', type: 'quantitative', title: unit},
              color: {field: 'color', type: 'nominal', scale: null},
              tooltip: [
                {field: 'time', type: 'temporal', timeUnit: 'utcyearmonthdate', title: 'time'},
                {field: 'query', type: 'nominal'},
                {field: 'value', type: 'quantitative', title: unit},
                {field: 'video_count', type: 'quantitative'}
              ],
              size: {
                condition: {selection: {not: 'highlight'}, value: 2},
                value: 8
              },
              opacity: {
                condition: {selection: {not: 'highlight'}, value: 0.8},
                value: 1
              },
              href: {field: 'video_href', type: 'nominal'}
            },
          }
        ],
        width: 1200,
        height: 500,
        autosize: {
          type: 'fit',
          contains: 'padding'
        }
      };
      vega_opts = {
        loader: {'target': '_blank'}
      };
      vegaEmbed('#chart', vega_spec, vega_opts);
    }
  </script>

  <script>
    $('textarea').each(function () {
      this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight) + 'px';
    });
  </script>
</body>
</html>
