<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.3.4"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.1.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/css/bootstrap-select.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">

  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="{{ url_for('static', filename='js/constant.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/chart.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/query.js') }}" /></script>

  <title>Cable TV News Viewer</title>
  <style>
    #search-table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0px 4px;
    }
    #search-table th {
      text-align: center;
    }
    #search-table input[name=query] {
      text-align: left;
      font-size: 14px;
    }
    #search-table .input-group, .input-group-prepend, .input-group-text, .form-control {
      height: 30px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    #search-table .query-td {
      width: 95%;
    }
    #search-table .option-td {
      padding-left: 10px;
    }
    #search-table .hint-td {
      padding-left: 10px;
      font-size: small;
    }
    #search-table .color-box {
      margin: auto;
      width: 40px;
      min-height: 30px;
    }
    #search-table .remove-row-btn {
      width: 35px;
      height: 30px;
      text-align: center;
      font-size: 14px;
    }
    #add-row-btn {
      width: 35px;
      height: 30px;
      text-align: center;
      font-size: 14px;
    }
    #chart-options {
      text-align: left;
      font-size: 14px;
    }
    #chart-options input, select, .filter-option {
      text-align: center;
      font-size: 14px;
    }
    #chart-options .datepicker {
      width: 100px;
    }
    #search {
      font-size: 14px;
    }
    #query-help {
      padding: 10px;
      background-color: #F4F4F4;
      border-spacing: 5px;
      display: none;
    }
    #query-help table {
      width: 100%;
      border-spacing: 2px;
      table-layout: auto;
    }
    #query-help th {
      text-align: left;
    }
    #query-help td, th {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
    }
    #query-help tr:nth-child(odd) {
      background-color: #DAD7CB;
    }
    #query-help tr:nth-child(even) {
      background-color: #F9F6EF;
    }
    #embed-area textarea {
      width: 100%;
      margin: auto;
      display: none;
    }
    #chart {
      width: 100%;
      text-align: center;
    }
    #shade {
      background-color: #000000;
      display: none;
      opacity: 0.5;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
    .query-builder {
      padding: 10px;
      border-left: solid #DAD7CB 1px;
      border-right: solid #DAD7CB 1px;
      border-bottom: solid #DAD7CB 1px;
    }
    .query-builder table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 2px;
    }
    .query-builder input {
      text-align: center;
      width: auto;
      display: inline;
    }
    .query-builder th {
      text-align: right;
    }
    .query-builder td[type=key-col] {
      text-align: right;
    }
    .query-builder td[type=value-col] {
      text-align: left;
    }
  </style>
</head>
<body>
  <div class="top-header">
    <div class="container">
      <img src="{{ url_for('static', filename='stanford.png') }}"
           alt="Stanford University">
      <p>Cable TV News Viewer</p>
    </div>
  </div>
  <div class="container">
    <form action="javascript:void(0);" onsubmit="search();">
      <table id="search-table">
        <tr name="controls" id="chart-options">
          <td></td>
          <td colspan="2" class="option-td">
            Count &nbsp;
            <select class="selectpicker" id="countVar" data-width="fit">
              <option value="{{ countables.videotime.name }}" selected="selected">{{ countables.videotime.value }}</option>
              <option value="{{ countables.facetime.name }}">{{ countables.facetime.value }}</option>
              <option value="{{ countables.mentions.name }}">{{ countables.mentions.value }}</option>
            </select>
            &nbsp; between &nbsp;
            <input type="text" class="datepicker" id="startDate">
            &nbsp; and &nbsp;
            <input type="text" class="datepicker" id="endDate">
            &nbsp; aggregated by &nbsp;
            <select class="selectpicker" id="aggregateBy" data-width="fit">
              <option value="year">year</option>
              <option value="month" selected="selected">month</option>
              <option value="week">week</option>
              <option value="day">day</option>
            </select>
            . &nbsp;
            <input type="submit" class="btn btn-primary btn-sm" value="Search the news!">
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-outline-secondary btn-sm" id='add-row-btn'>+</button>
          </td>
          <td colspan="2" class="hint-td">
            click the color box for the query editor or click
            <a href="#" onclick="toggleQueryHelp(); return false;" id="toggle-help">show help</a>.
            (<a href="/">reset viewer</a>)
          </td>
        </tr>
      </table>
    </form>
  </div>

  <script>
    function fromDatepickerStr(s) {
      let tokens = s.split('/');
      return `${tokens[2]}-${tokens[0]}-${tokens[1]}`
    }

    function toDatepickerStr(s) {
      let tokens = s.split('-');
      return `${tokens[1]}/${tokens[2]}/${tokens[0]}`
    }

    function getChartOptions() {
      let start_date = fromDatepickerStr($('#startDate').val());
      let end_date = fromDatepickerStr($('#endDate').val());
      if (start_date > end_date) {
        alertAndThrow('Start date cannot exceed end date.');
      }
      return {
        start_date: start_date,
        end_date: end_date,
        count: $('#countVar').val(),
        aggregate: $('#aggregateBy').val()
      }
    }

    function initChartOptions(chart_options) {
      var start_date = '{{ start_date }}';
      var end_date = '{{ end_date }}';
      if (chart_options) {
        start_date = chart_options.start_date;
        end_date = chart_options.end_date;
        $('#countVar').val(chart_options.count);
        $('#aggregateBy').val(chart_options.aggregate);
      }
      $('#startDate').datepicker({
        format: 'mm/dd/yyyy',
        forceParse: false,
        startDate: toDatepickerStr(start_date),
        endDate: toDatepickerStr(end_date)
      });
      $('#startDate').val(toDatepickerStr(start_date));
      $('#endDate').datepicker({
        format: 'mm/dd/yyyy',
        forceParse: false,
        startDate: toDatepickerStr(start_date),
        endDate: toDatepickerStr(end_date)
      });
      $('#endDate').val(toDatepickerStr(end_date));
    }

    function setBlankQueryPlaceholder() {
      let count_var = $('#countVar').val();
      var placeholder, prefix_str;
      if (count_var == '{{ countables.mentions.name }}') {
        placeholder = 'all words';
        prefix_str = '{{ countables.mentions.value }} OF';
      } else if (count_var == '{{ countables.facetime.name }}') {
        placeholder = 'all faces';
        prefix_str = '{{ countables.facetime.value }} OF';
      } else if (count_var == '{{ countables.videotime.name }}') {
        placeholder = 'all video';
        prefix_str = '{{ countables.videotime.value }} WHERE';
      }
      $('#search-table input[type="text"][name="query"]').attr('placeholder', placeholder);
      $('#search-table span[name="count-prefix"]').text(`COUNT ${prefix_str}`);
    }
    $('#countVar').change(setBlankQueryPlaceholder);
  </script>

  <div class="container" id="query-help">
    <h5>Query help <a href="#" onclick="toggleQueryHelp(); return false;" id="toggle-help">(hide)</a></h5>

    <div class="container">
      <p>
        Screen time queries in the viewer have the following form:

        <ul><b>COUNT</b> screen time <b>WHERE</b> filter1="value1" <b>AND</b> filter2="value2" <b>AND</b> ...</ul>

        This will match all video segments that pass the filter and find the
        screen time. Multiple filters are joined by <b>AND</b>. You can normalize
        a query with respect to the <b>WHERE</b> clause by adding <b>NORMALIZE</b>
        to the end of a query. This will rewrite the query with the default
        normalization. If this is not the desired behavior, the normalizing query
        can also be written manually. See the <it>normalization and
        subtraction</it> section below.
      </p>

      <div class="container">
        <h6>Supported screen time filters</h6>
        <table>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Values</th>
            <th>Default</th>
            <th>Example</th>
          </tr>
          <tr>
            <td>{{ parameters.channel.value }}</td>
            <td>name of the channel</td>
            <td>CNN, FOX, MSNBC</td>
            <td>all</td>
            <td>{{ parameters.channel.value }}=CNN</td>
          </tr>
          <tr>
            <td>{{ parameters.show.value }}</td>
            <td>name of the show</td>
            <td><a href="/shows" target="_blank">list of shows</a></td>
            <td>all</td>
            <td>{{ parameters.show.value }}="CNN Newsroom"</td>
          </tr>
          <tr>
            <td>{{ parameters.hour.value }}</td>
            <td>ranges of hours in 24h format</td>
            <td>0-23 or 0, 1, 2, ...</td>
            <td>0-23</td>
            <td>{{ parameters.hour.value }}="9-17"</td>
          </tr>
          <tr>
            <td>{{ parameters.day_of_week.value }}</td>
            <td>range or list of days of the week</td>
            <td>mon-sun or mon, tue, ...</td>
            <td>all</td>
            <td>{{ parameters.day_of_week.value }}="sat-sun"</td>
          </tr>
          <tr>
            <td>{{ parameters.is_commercial.value }}</td>
            <td>filter or select commercials</td>
            <td>true, false, both</td>
            <td>{{ default_is_commercial }}</td>
            <td>{{ parameters.is_commercial.value }}={{ default_is_commercial }}</td>
          </tr>
          <tr>
            <td>{{ parameters.caption_text.value }}</td>
            <td>keywords nearby in the captions</td>
            <td>text query</td>
            <td>n/a</td>
            <td>{{ parameters.caption_text.value }}="affordable care act"</td>
          </tr>
          <tr>
            <td>{{ parameters.caption_window.value }}</td>
            <td>threshold (in seconds) for nearby keywords</td>
            <td>non-negative integer</td>
            <td>{{ default_text_window }}</td>
            <td>{{ parameters.caption_window.value }}={{ default_text_window }}</td>
          </tr>
          <tr>
            <td>{{ parameters.onscreen_face.value }}</td>
            <td>
              at least one matching face on screen (height &ge; 20%)</td>
            <td>
              all, (wo)men, (non)hosts, <br>
              (fe)male (non)hosts, <br>
              name of person <a href="/people" target="_blank">(list of people)</a>
            </td>
            <td>n/a</td>
            <td>
              {{ parameters.onscreen_face.value }}="men" <br>
              {{ parameters.onscreen_face.value }}="male hosts" <br>
              {{ parameters.onscreen_face.value }}="Barack Obama"
            </td>
          </tr>
        </table>
      </div>

      <div class="container">
        <h6>Example screen time queries</h6>
        <table>
          <tr>
            <th>Query</th>
            <th>English meaning</th>
          </tr>
          <tr>
            <td>COUNT {{ countables.videotime.value }} WHERE all video</td>
            <td><i>total seconds of video</i></td>
          </tr>
          <tr>
            <td>COUNT {{ countables.videotime.value }} WHERE {{ parameters.is_commercial.value }}=true</td>
            <td><i>seconds of commercials</i></td>
          </tr>
          <tr>
            <td>COUNT {{ countables.videotime.value }} WHERE {{ parameters.onscreen_face.value }}="women" AND {{ parameters.caption_text.value }}="science"</td>
            <td><i>seconds of video where a female host is onscreen and the word "science" is mentioned</i></td>
          </tr>
        </table>
      </div>

      <div class="container">
        <h6>Normalization and subtraction</h6>
        <table>
          <tr>
            <th>Keyword</th>
            <th>Syntax</th>
            <th>Description</th>
            <th>Example</th>
          </tr>
          <tr>
            <td>NORMALIZE</td>
            <td>query1 NORMALIZE query2</td>
            <td><i>divide query1's results by query2's results.<br>
                If query2 is blank, default normalization is applied.</i></td>
            <td>"united states" NORMALIZE</td>
          </tr>
          <tr>
            <td>SUBTRACT</td>
            <td>query1 SUBTRACT query2</td>
            <td><i>subtract query2's results from query1's results</i></td>
            <td>"united" SUBTRACT "united states"</td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
    <div class="container">
      <h5>Other counting modes</h5>

      <p>
        You can also count "{{ countables.facetime.value }}" and "{{ countables.mentions.value }}". For instance,

        <ul><b>COUNT</b> {{ countables.facetime.value }} <b>OF</b> faces being counted <b>WHERE</b> filters on screen time</ul>
        <ul><b>COUNT</b> {{ countables.mentions.value }} <b>OF</b> text being counted <b>WHERE</b> filters on screen time</ul>

        Adding <b>NORMALIZE</b> at the end of a query will apply the default
        normalization.
      </p>

      <div class="container">
        <h6>Example queries</h6>
        <table>
          <tr>
            <th>Counting</th>
            <th>Query</th>
            <th>English meaning</th>
          </tr>
          <tr>
            <td rowspan="3">{{ countables.facetime.value }}</td>
            <td>COUNT {{ countables.facetime.value }} OF all faces</td>
            <td><i>total face time</i></td>
          </tr>
            <td>COUNT {{ countables.facetime.value }} OF female hosts WHERE {{ parameters.channel.value }}="FOX"</td>
            <td><i>face time of female hosts on FOX News</i></td>
          </tr>
          <tr>
            <td>COUNT {{ countables.facetime.value }} OF Barack Obama WHERE {{ parameters.channel.value }}="FOX"</td>
            <td><i>face time of Barack Obama on FOX News</i></td>
          </tr>
          <tr>
            <td rowspan="3">{{ countables.mentions.value }}</td>
            <td>COUNT {{ countables.mentions.value }} OF all words</td>
            <td><i>total number of words</i></td>
          </tr>
          <tr>
            <td>COUNT {{ countables.mentions.value }} OF obamacare WHERE {{ parameters.channel.value }}=CNN</td>
            <td><i>mentions of "obamacare" on CNN</i></td>
          </tr>
          <tr>
            <td>COUNT {{ countables.mentions.value }} OF obamacare WHERE {{ parameters.onscreen_face.value }}="Barack Obama"</td>
            <td><i>mentions of "obamacare" when Barack Obama's face is on screen</i></td>
          </tr>
        </table>
      </div>

      <div class="container">
        <h6>Supported count queries</h6>
        <table>
          <tr>
            <th>Mode</th>
            <th>Description</th>
            <th>Values</th>
            <th>Default</th>
            <th>Example</th>
          </tr>
          <tr>
            <td>{{ countables.facetime.value }}</td>
            <td>screen time for faces (height &ge; 20%)</td>
            <td>
              all, (wo)men, (non)hosts, (fe)male (non)hosts, <br>
              name of person <a href="/people" target="_blank">(list of people)</a>
            </td>
            <td>all</td>
            <td>male hosts<br>Barack Obama</td>
          </tr>
          <tr>
            <td>{{ countables.mentions.value }}</td>
            <td>phrase mentions in the captions</td>
            <td><a href="https://github.com/scanner-research/caption-index/blob/master/captions/query.py" target="_blank">grammar</a></td>
            <td>n/a</td>
            <td>affordable care act</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script>
    function toggleQueryHelp() {
      if ($('#toggle-help').text().includes('show')) {
        $('#query-help').show();
        $('#toggle-help').text('hide help');
      } else {
        $('#query-help').hide();
        $('#toggle-help').text('show help');
      }
    }
  </script>

  <div class="container" id="chart-area">
    <div id="chart"></div>
  </div>

  <div class="container" id="embed-area">
    <p name="text"></p>
    <textarea readonly rows="3" name="embed"></textarea>
  </div>

  <div class="container" id="vgrid"></div>

  <div id="shade">&nbsp;</div>

  <script>
    const EMBED_DIMS = {width: 1000, height: 400};

    function getRandomSample(arr) {
      return arr[Math.floor(Math.random() * arr.length)];
    }

    function getColor() {
      for (var i in DEFAULT_COLORS) {
        if ($(`#search-table tr[data-color='${DEFAULT_COLORS[i]}']`).length == 0) {
          return DEFAULT_COLORS[i];
        }
      }
      throw Error('All colors used');
    }

    function setRemoveButtonsState() {
      let state = $('#search-table tr[name="query"]').length < 2;
      $('#search-table td').find('button.remove-row-btn').each(function() {
        this.disabled = state;
      });
    }

    function removeRow(element) {
      $(element).closest('tr[name="query"]').remove();
      $('#add-row-btn').prop('disabled', false);
      setRemoveButtonsState();
    }

    function toggleQueryBuilder(element) {
      let search_table_row = $(element).closest('tr[name="query"]');
      if (search_table_row.find('.query-builder').length > 0) {
        search_table_row.find('.query-builder').remove();
        search_table_row.find('.color-box').height('auto');
      } else {
        search_table_row.find('td:last').append(QUERY_BUILDER_HTML);

        let query_box = search_table_row.find('input[name="query"]');
        var current_query = new SearchableQuery(
          query_box.val(), $('#countVar').val(), true);

        let query_builder = search_table_row.find('.query-builder');
        let setIfDefined = k => {
          let v = current_query.main_args[k];
          if (v) {
            query_builder.find(`[name="${k}"]`).val(v);
          }
        };

        var channel = current_query.main_args['{{ parameters.channel.value }}'];
        if (channel) {
          query_builder.find(`[name="{{ parameters.channel.value }}"]`).val(
            channel.toUpperCase() == 'FOXNEWS' ? 'FOX' : channel);
        }

        setIfDefined('{{ parameters.show.value }}');
        setIfDefined('{{ parameters.hour.value }}');
        setIfDefined('{{ parameters.day_of_week.value }}');
        setIfDefined('{{ parameters.caption_text.value }}');
        setIfDefined('{{ parameters.caption_window.value }}');
        setIfDefined('{{ parameters.onscreen_person.value }}');
        setIfDefined('{{ parameters.is_commercial.value }}');

        let onscreen_face = current_query.main_args['{{ parameters.onscreen_face.value }}'];
        if (onscreen_face) {
          var gender = null;
          var role = null;
          if (onscreen_face == 'all' || onscreen_face.match(/^(fe)?male$/i)) {
            gender = onscreen_face;
          } else if (onscreen_face.match(/^(non)?host$)/i)) {
            role = onscreen_face;
          } else {
            let [a, b] = onscreen_face.split(':');
            gender = a;
            role = b;
          }
          if (gender) {
            query_builder.find(
              `[name="{{ parameters.onscreen_face.value }}:gender"]`
            ).val(gender);
          }
          if (role) {
            query_builder.find(
              `[name="{{ parameters.onscreen_face.value }}:role"]`
            ).val(role);
          }
        }

        if (current_query.normalize_args) {
          query_builder.find('[name="normalize"]').val('true');
        }

        $('.selectpicker').selectpicker();
        $('.no-enter-submit').keypress(e => e.which != 13);

        // Set the color-box to be the height of the query box
        search_table_row.find('.color-box').height(
          search_table_row.find('td').height()
        );
      }
    }

    function populateQueryBox(element) {
      let search_table_row = $(element).closest('tr[name="query"]');
      let builder = search_table_row.find('.query-builder');
      let filters = [];

      let channel = builder.find('[name="{{ parameters.channel.value }}"]').val();
      if (channel) {
        filters.push(`{{parameters.channel.value }}=${channel}`);
      }
      let show = builder.find('[name="{{ parameters.show.value }}"]').val();
      if (show) {
        filters.push(`{{ parameters.show.value }}="${show}"`);
      }
      let hour = builder.find('[name="{{ parameters.hour.value }}"]').val();
      if (hour) {
        filters.push(`{{ parameters.hour.value }}=${hour}`);
      }
      let day_of_week = builder.find('[name="{{ parameters.day_of_week.value }}"]').val();
      if (day_of_week) {
        filters.push(`{{ parameters.day_of_week.value }}="${day_of_week}"`);
      }

      if ($('#countVar').val() != '{{ countables.mentions.name }}') {
        let caption_text = builder.find('[name="{{ parameters.caption_text.value }}"]').val();
        if (caption_text) {
          filters.push(`{{ parameters.caption_text.value }}="${caption_text}"`);
        }
        let caption_window = builder.find('[name="{{ parameters.caption_window.value }}"]').val();
        if (caption_window) {
          filters.push(`{{ parameters.caption_window.value }}=${caption_window}`);
        }
      }

      let face_gender = builder.find('[name="{{ parameters.onscreen_face.value }}:gender"]').val();
      let face_role = builder.find('[name="{{ parameters.onscreen_face.value }}:role"]').val();
      let face_person = builder.find('[name="{{ parameters.onscreen_person.value }}"]').val();
      if (face_person || face_role || face_gender) {
        var face_str;
        if (face_person) {
          if (face_role || face_gender) {
            alertAndThrow('"gender and role" cannot be specified simultaneously with "person"');
          }
          face_str = face_person;
        } else {
          if (face_role) {
            if (face_gender == 'all') {
              face_str = face_role;
            } else {
              face_str = `${face_gender ? face_gender + ' ' : ''}${face_role}`;
            }
          } else {
            face_str = face_gender;
          }
        }
        filters.push(`{{ parameters.onscreen_face.value }}="${face_str}"`);
      }
      let is_commercial = builder.find('[name="{{ parameters.is_commercial.value }}"]').val();
      if (is_commercial != 'false') {
        filters.push(`{{ parameters.is_commercial.value }}=${is_commercial}`);
      }

      let normalize = builder.find('[name="normalize"]').val() == 'true';

      // Get the countable part of the query
      let query_box = search_table_row.find('input[name="query"]');
      var current_query = query_box.val();
      if (current_query.includes(QUERY_WHERE)) {
        current_query = current_query.slice(0, current_query.indexOf(QUERY_WHERE));
      }
      if (current_query.includes(QUERY_NORMALIZE)) {
        current_query = current_query.slice(0, current_query.indexOf(QUERY_NORMALIZE));
      }

      // Construct the new query
      let count_var = $('#countVar').val();
      var new_query;
      let filter_str = filters.length > 0 ? filters.join(` ${QUERY_AND} `) : '';
      if (count_var == '{{ countables.videotime.name }}') {
        new_query = filter_str;
      } else {
        new_query = `${$.trim(current_query)} ${QUERY_WHERE} ${filter_str}`;
      }
      if (normalize) {
        new_query += ` ${QUERY_NORMALIZE}`;
      }
      query_box.val(new_query);
      toggleQueryBuilder(element);
    }

    function getDefaultQuery() {
      if ($('#search-table tr[name="query"]').length > 0) {
        return $('#search-table input[type="text"][name="query"]:last').val();
      } else {
        let count_var = $('#countVar').val();
        if (count_var == '{{ countables.mentions.name }}') {
          return DEFAULT_MENTIONS_QUERY;
        } else if (count_var == '{{ countables.facetime.name }}') {
          return DEFAULT_FACETIME_QUERY;
        } else if (count_var == '{{ countables.videotime.name }}') {
          return DEFAULT_VIDEOTIME_QUERY;
        }
      }
    }

    function onQueryUpdate(element) {
      // Rewrite query with default normalization if necessary
      let count_var = $('#countVar').val();
      let query_str = $.trim($(element).val());
      if (query_str.endsWith(QUERY_NORMALIZE)) {
        if (count_var == '{{ countables.videotime.name }}') {
          $(element).val(`${query_str} ${QUERY_ALL_VIDEO}`);
        } else {
          let main_query_str = $.trim(query_str.slice(0, query_str.indexOf(QUERY_NORMALIZE)));
          if (main_query_str.includes(QUERY_WHERE)) {
            let all_str = count_val == '{{ countables.mentions.name }}' ?
                          QUERY_ALL_WORDS : QUERY_ALL_FACES;
            let main_query_where_str = $.trim(main_query_str.slice(
              main_query_str.lastIndexOf(QUERY_WHERE) + QUERY_WHERE.length
            ));
            var new_query = `${query_str} ${all_str}`;
            if (main_query_where_str) {
              new_query += ` ${QUERY_WHERE} ${main_query_where_str}`;
            }
            $(element).val(new_query);
          }
        }
      }
    }

    function addRow(query) {
      let color = _.get(query, 'color', getColor());
      let text = _.get(query, 'text', getDefaultQuery());
      let html = `<tr name="query" data-color="${color}">
        <td><button type="button" class="btn btn-outline-secondary btn-sm remove-row-btn"
             onclick="removeRow(this);">-</button></td>
        <td><div class="color-box" style="background-color: ${color};"
             onclick="toggleQueryBuilder(this);"></div></td>
        <td class="query-td">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" name="count-prefix"></span>
            </div>
            <input type="text" class="form-control" name="query" value='${text}'
                   onchange="onQueryUpdate(this);"></td>
          </div>
      </tr>`;

      $('#search-table > tbody > tr').eq(
        $('#search-table tr[name="query"]').length
      ).after(html);
      setBlankQueryPlaceholder();
      if ($('#search-table tr[name="query"]').length >= DEFAULT_COLORS.length + 1) {
        $('#add-row-btn').prop('disabled', true);
      }
      setRemoveButtonsState();
    }
    $('#add-row-btn').click(() => {addRow();});

    function getDataString(chart_options, lines) {
      return encodeURIComponent(JSON.stringify({
        options: chart_options,
        queries: lines.map(l => ({color: l.color, text: l.query.query}))
      }));
    }

    function getEmbedUrl(data) {
      return `http://{{ host }}/embed?width=${EMBED_DIMS.width}&height=${EMBED_DIMS.height}&data=${data}`;
    }

    function getChartPath(data) {
      return `/?data=${data}`;
    }

    function alertAndThrow(msg) {
      alert(msg);
      throw Error(msg);
    }

    var setShareUrl, setEmbedUrl;

    function displaySearchResults(chart_options, lines, search_results) {
      new Chart(chart_options, search_results, {
        width: $("#chart-area").width(), height: EMBED_DIMS.height
      }).load('#chart', '#vgrid');

      if (Object.keys(search_results).length == lines.length) {
        // Allow embedding if all queries are ok
        let data_str = getDataString(chart_options, lines);
        let chart_path = getChartPath(data_str);
        let embed_url = getEmbedUrl(data_str);

        setShareUrl = () => {
          var dummy = document.createElement('input');
          document.body.appendChild(dummy);
          dummy.setAttribute('value', 'http://{{ host }}' + chart_path);
          dummy.select();
          document.execCommand("copy");
          document.body.removeChild(dummy);
          alert('Copied link to clipboard!');
        };

        setEmbedUrl = () => {
          let x = $('#embed-area textarea[name="embed"]');
          x.val(`<iframe src="${embed_url}"></iframe>`);
          x.toggle();
        };

        $('#embed-area p[name="text"]').html(
          `<a href="#" onclick="setShareUrl(); return false;">Share</a> or
           <a href="#" onclick="setEmbedUrl(); return false;">embed</a> chart.`
        );
        window.history.pushState(null, '', chart_path);
      } else {
        // Allow embedding if all queries are ok
        $('#embed-area p[name="text"]').empty();
        window.history.pushState(null, '', '')
      }
    }

    function getRawQueries() {
      let queries = [];
      $('#search-table tr[name="query"]').each(function() {
        if ($(this).attr('name')) {
          let query_str = $.trim($(this).find("input[name='query']").val());
          queries.push({
            color: $(this).attr('data-color'),
            text: query_str
          });
        }
      });
      return queries;
    }

    function search() {
      $('.query-builder').each(function() {populateQueryBox($(this));});
      $('#vgrid').empty();

      let chart_options = getChartOptions();
      let lines = getRawQueries().map(raw_query => {
        var parsed_query;
        try {
          parsed_query = new SearchableQuery(
            raw_query.text, chart_options.count, false);
        } catch (e) {
          alertAndThrow(e.message);
        }
        return {color: raw_query.color, query: parsed_query};
      });

      $('#shade').show();
      $('#search').prop('disabled', true);

      let search_results = {};
      function onDone() {
        $('#shade').hide();
        $('#search').prop('disabled', false);
        displaySearchResults(chart_options, lines, search_results);
      }

      Promise.all(lines.map(line => {
        console.log('Executing query:', line.query);

        function onError(xhr) {
          var msg;
          try {
            msg = JSON.parse(xhr.responseText).message;
          } catch {
            msg = 'Unknown server error';
          }
          alert(`[Query failed] ${line.query.query}\n\n${msg}\n\nThe chart may be incomplete.`);

          console.log('Failed:', line.query, xhr);
        }

        return line.query.search(
          chart_options,
          result => search_results[line.color] = result,
          onError);
      })).then(onDone).catch(onDone);
    }

    /* Load initial plot */
    let params = (new URL(document.location)).searchParams;
    if (params.get('data')) {
      let data = JSON.parse(decodeURIComponent(params.get('data')));
      try {
        initChartOptions(data.options);
        data.queries.forEach(query => addRow(query));
        search();
      } catch (e) {
        alert('Invalid data in url. Unable to load.');
        console.log('Unable to load:', e);
      }
    } else {
      initChartOptions();
      addRow({text: 'onscreen.face=men'});
      addRow({text: 'onscreen.face=women'});
    }
  </script>
</body>
</html>
