<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pegjs/0.9.0/peg.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">

  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  <title>{% block title %}Stanford Cable TV News Viewer{% endblock %}</title>
  {% endblock %}
</head>

{% block body %}
<body>
  {% block header %}
  <div class="top-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand">Stanford Cable TV News Viewer</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/instructions">Instructions/Getting Started</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/methodology">Methodology</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Query Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/shows">List of shows</a>
              <a class="dropdown-item" href="/people">List of people</a>
              <a class="dropdown-item" href="/person-attributes">List of person-attributes</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">About Us</a>
          </li>
          {% if uptime %}
          <li class="nav-item disabled">
            <tt class="nav-link">(last server reboot: {{ uptime }})</tt>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

  </div>
  {% endblock %}

  {% block content %}{% endblock %}

  <script>
    let is_chrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);
    if (!is_chrome) {
      alert('Unsupported browser. This page only supports Chrome.');
    }
  </script>
</body>
{% endblock %}
</html>
