<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
{% block meta %}{% if host %}
  <meta property="og:site_name" content="Stanford Cable TV News Analyzer" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="The Stanford Cable TV Analyzer enables you to compute the amount of time people appear and how often words are heard in cable TV news." />
  <!-- <meta property="og:image" content="https://{{ host }}/static/img/analyzer.jpg" /> -->
  <meta property="og:image:width" content="1796" />
  <meta property="og:image:height" content="1134" />
{% endif %}{% endblock %}

{% if analytics_str %}{{ analytics_str|safe }}{% endif %}

{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}" />

  <title>{% block title %}Stanford Cable TV News Analyzer{% endblock %}</title>
{% endblock %}
</head>

{% block body %}
<body>
  {% block header %}
  <div class="top-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="/">
        <span class="navbar-brand">
          <img class="tvnews-icon" src="{{ url_for('static', filename='icon.png') }}" alt="Icon">
          Stanford Cable TV News Analyzer
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if self | quoted == 'dataset.html' %}active{% endif %}">
            <a class="nav-link" href="/data">The Data</a>
          </li>
          <li class="nav-item {% if self | quoted == 'getting-started.html' %}active{% endif %}">
            <a class="nav-link" href="/getting-started">Getting Started</a>
          </li>
          <li class="nav-item {% if self | quoted == 'docs.html' %}active{% endif %}">
            <a class="nav-link" href="/docs">Advanced Queries</a>
          </li>
          <li class="nav-item {% if self | quoted == 'methodology.html' %}active{% endif %}">
            <a class="nav-link" href="/methodology">Methodology</a>
          </li>
          <li class="nav-item {% if self | quoted == 'faq.html' %}active{% endif %}">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="http://arxiv.org/abs/2008.06007">arXiv Paper</a>
          </li>
        -->
          <li class="nav-item {% if self | quoted == 'about.html' %}active{% endif %}">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
  {% endblock %}

  {% block content %}{% endblock %}

  {% if uptime %}
  <footer>
    <div style="height: 50px;"><div>
    <div class="bottom-footer">
      Last server update: {{ uptime }}. If something breaks, please
      refresh the page with the browser cache disabled
      (<kbd id="ctrl-key"></kbd> + <kbd>Shift</kbd> + <kbd>R</kbd>).
    </div>
  </footer>
  {% endif %}

  <script>
    const CLIENT_IS_MAC = navigator.platform.indexOf('Mac') > -1;
    $('#ctrl-key').html(CLIENT_IS_MAC ? 'Cmd-&#8984;' : 'Ctrl');
  </script>
</body>
{% endblock %}
</html>
