{% extends "layout.html" %}

{% block head %}
{{ super() }}
<style>
table {
  border-spacing: 2px;
  table-layout: auto;
}
th {
  text-align: left;
}
td, th {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total screen time (in minutes)</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
      <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.screen_time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    $(document).ready(function() {
      $('.table').DataTable({pageLength: 25});
    });
  </script>
</div>
{% endblock %}
