{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>

<style>
.person-list {
  display: none;
}
.person-entry {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>
    List of person-tags
  </h1>

  <p>
    This page contains a list of tags obtained from DBpedia using the names
    of faces that we identified using Amazon Rekognition's celebrity detection
    API.
  </p>

  <p>
    Tags in this list can be used to filter for screen time of the associated
    face identities using the <code>onscreen.face1="tag: ..."</code> predicate.
    Note that this filter will only apply to faces for which we have an
    associated identity (44% of the faces). For example, the filter
    <code>onscreen.face1="tag: journalist"</code> incudes the screen time of
    all faces whose identiies have the journalist tag.
  </p>

  <table class="table table-hover table-striped table-bordered table-sm">
    <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>People with tag</th>
    </tr>
    </thead>
    <tbody>
    {% for tag, people in person_tags.items() %}
      <tr>
        <td>{{ tag }}</td>
        <td>{{ people|length }}</td>
        <td>
          <a href="javascript:void(0)" class="toggle-link">show/hide</a>
          <div class="person-list">
          {% for person in people %}
            <span class="person-entry">{{ person }}</span>
          {% endfor %}
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <script>
    $('.toggle-link').click(function() {
      $(this).parent().find('.person-list').toggle();
    });
    $(document).ready(function() {
      $('.table').DataTable({
        pageLength: 25, columns: [
          {width: '20%'}, {width: '10%'}, null
        ]
      });
    });
  </script>
</div>
{% endblock %}
