{% extends "layout.html" %}

{% block head %}
{{ super() }}
<style>
table {
  border-spacing: 2px;
  table-layout: auto;
}
th {
  text-align: left;
}
td, th {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <table class="table table-hover table-striped table-bordered table-sm">
    <tr>
      <th>Channel</th>
      <th>Show</th>
      <th>Total screen time (in hours)</th>
    </tr>
    {% for show in shows %}
    <tr>
      <td>{{ show.0 }}</td>
      <td>{{ show.1 }}</td>
      <td>{{ show.2 }}</td>
    </tr>
    {% endfor %}
  </table>

  <script>
    $(document).ready(function() {
      $('.table').DataTable({pageLength: 25});
    });
  </script>
</div>
{% endblock %}
