{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='vgrid/index.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="{{ url_for('static', filename='js/constant.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/query.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/videos.js') }}" /></script>

  <style>
    body {
      overflow: hidden;
    }
    #text-info {
      text-align: center;
      margin-bottom: 0;
    }
    #page-buttons {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  </style>
{% endblock %}

{% block body %}
<div>
  <div id="page-buttons" class="btn-group"></div>
  <p id="text-info"></p>
  <div id="videos"></div>
</div>
<script src="{{ url_for('static', filename='vgrid/bundle.js') }}"></script>
{% endblock %}
