{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='vgrid/index.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/video-embed.css') }}" />
  <script src="/generated/js/defaults.js" /></script>
  <script src="/generated/js/values.js" /></script>
  <script src="{{ url_for('static', filename='js/query.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/videos.js') }}" /></script>
{% endblock %}

{% block body %}
<div class=video-div>
  <div id="pageButtons" class="btn-group">
    <button name="previous" type="button" class="btn btn-outline-secondary btn-sm">Previous</button>
    <button name="next" type="button" class="btn btn-outline-secondary btn-sm">Next</button>
    <button name="info" type="button" class="btn btn-secondary btn-sm" disabled></button>
  </div>
  <div id="textInfo"></div>
  <div id="videos"></div>
</div>
<script src="{{ url_for('static', filename='vgrid/bundle.js') }}"></script>
{% endblock %}
