<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

  <link rel="stylesheet" type="text/css" href="/vgrid/index.css" />

  <title>Esper: Show Videos</title>

  <style>
    .container {
      padding: 10px;
    }
    #text-info {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container" id="text-info"></div>
  <div class="container">
    <div id="videos"></div>
  </div>
  <script>
    const MAX_VIDEOS = 10;

    function getVideoUrl(name) {
      return `https://storage.cloud.google.com/esper/tvnews/videos/${name}.mp4`;
    }

    function showVideos(data) {
      let videos = [];
      let interval_blocks = [];
      data.forEach(x => {
        videos.push({
          id: x.meta.id,
          width: x.meta.width,
          height: x.meta.height,
          fps: x.meta.fps,
          num_frames: x.meta.num_frames,
          path: getVideoUrl(x.meta.name)
        });
        interval_blocks.push({
          interval_dict: {
            'results': x.intervals.map(i => ({
              t: [i[0], i[1]], x: [0, 1], y: [0, 1],
              payload: {draw_type: {type: 'DrawType_Bbox'}, metadata: {}}
            }))
          },
          video_id: x.meta.id
        });
      });
      console.log(videos);
      console.log(interval_blocks);
      renderVGrid(interval_blocks, {videos: videos}, {});
    }

    let params = (new URL(document.location)).searchParams;
    var video_ids = JSON.parse(params.get('ids'));
    let num_videos = video_ids.length;
    if (video_ids.length > MAX_VIDEOS) {
      video_ids = video_ids.slice(0, MAX_VIDEOS);
    }
    $("#text-info").html(
      `<p>Showing ${video_ids.length} of ${num_videos} videos.</p>`
    );

    let query = params.get('query');
    let window_time = params.get('window');
    $.ajax({
      url: '/search-videos',
      type: 'get',
      data: {
        ids: JSON.stringify(video_ids),
        query: query,
        window: window_time,
      },
      success: showVideos,
      error: xhr => {
        alert('Search failed.');
      }
    });
  </script>
  <script src="/vgrid/bundle.js"></script>
</body>
</html>
