{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='vgrid/index.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="{{ url_for('static', filename='js/constant.js') }}" /></script>
  <script src="{{ url_for('static', filename='js/query.js') }}" /></script>

  <style>
    #text-info {
      padding-top: 25px;
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
  <p id="text-info"></p>
  <div id="videos"></div>
</div>

<script>
  const PAGINATE = true;
  const VIDEOS_PER_PAGE = 10;
  var QUERY_PARAMS = null;
  var CURR_PAGE = null;

  function displayVideos(page_i) {
    let count_var = QUERY_PARAMS.count;

    var video_ids = QUERY_PARAMS.video_ids;
    if (video_ids.length >= VIDEOS_PER_PAGE) {
      let base_idx = page_i * VIDEOS_PER_PAGE;
      video_ids = video_ids.slice(base_idx, base_idx + VIDEOS_PER_PAGE);
    }

    let n_pages = Math.ceil(QUERY_PARAMS.video_ids.length / VIDEOS_PER_PAGE);
    var page_controls = `Page ${page_i + 1}/${n_pages}.`;
    if (page_i > 0) {
      page_controls += `&nbsp;
        <button type="button" class="btn btn-outline-secondary btn-sm"
        onclick="displayVideos(${page_i - 1});">previous</button>`;
    }
    if (page_i + 1 < n_pages) {
      page_controls += `&nbsp;
        <button type="button" class="btn btn-outline-secondary btn-sm"
        onclick="displayVideos(${page_i + 1});">next</button>`;
    }

    let text_html = `Showing results for ${count_var} of
      <font color="${QUERY_PARAMS.color}"><b>${QUERY_PARAMS.query}</b></font>
      from ${video_ids.length} of ${QUERY_PARAMS.video_count} videos from ${QUERY_PARAMS.time}.
      <br>
      <b>Press "f" to expand videos and "p" to play/pause.
      ${PAGINATE && n_pages > 1 ? page_controls : ''}</b>`;

    $("#text-info").html(text_html);
    let query = new SearchableQuery(QUERY_PARAMS.query, QUERY_PARAMS.count, false);
    console.log('Executing query:', query);

    $('#videos').empty();
    let caption_data = {};
    Promise.all(
      video_ids.map(i =>
        $.get(`/captions/${i}`).then(
          resp => caption_data[i] = resp
        ).catch(
          e => `Failed to get captions: ${i}`
        ))
    ).then(() => {
      query.searchInVideos(
        video_ids,
        json_data => {
          let vgrid_settings = {
            {% if frameserver_endpoint is not none %}
            frameserver_endpoint: '{{ frameserver_endpoint }}',
            use_frameserver: true,
            {% endif %}
            video_endpoint: 'https://storage.cloud.google.com/esper',
            show_timeline: true,
            show_captions: false,
            paginate: false
          };
          try {
            $('#videos').empty();
            $('#videos').append(`<div id="videos-${page_i}">`);
            renderVGrid(json_data, caption_data, vgrid_settings, `videos-${page_i}`);
          } catch (e) {
            alert('Failed to load videos.');
            throw e;
          }
        },
        error => {
          alert('Search failed.');
          console.log(error);
        }
      );
    });
  }

  function loadVideos(params) {
    QUERY_PARAMS = params;
    CURR_PAGE = 0;
    displayVideos(CURR_PAGE);
  }

  if (window.location != window.parent.location) {
    $('.top-header').hide();
  } else {
    let params = JSON.parse(decodeURIComponent((new URL(document.location)).searchParams.get('params')));
    loadVideos(params);
  }
</script>
<script src="{{ url_for('static', filename='vgrid/bundle.js') }}"></script>
{% endblock %}
